<section class="poster">
    <div class="container">
        <div class="poster__wrapper">
            <div class="poster__information">
                <div class="poster__title-block">
                    <h1 class="poster__title-text title-block_one">ТЕНЕВЫЕ И БЕСЩЕЛЕВЫЕ НАТЯЖНЫЕ ПОТОЛКИ В САМАРЕ</h1>
                    <div class="poster__title-price">
                        <svg class="poster__title-square" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="16" height="16" fill="#4F4F4F" />
                        </svg>
                        <span class="poster__title-cost">от 300 руб/м2</span>
                    </div>
                </div>
                <div class="poster__sequence">
                    <div class="poster__sequence-block poster__sequence-one">
                        <svg class="poster__sequence-square" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="40" height="40" fill="#4F4F4F" />
                        </svg>
                        <span class="poster__sequence-number poster__sequence-number--one">1</span>
                        <p class="poster__sequence-text">Сегодня замеряем</p>
                    </div>
                    <div class="poster__sequence-block poster__sequence-two">
                        <svg class="poster__sequence-square" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="40" height="40" fill="#4F4F4F" />
                        </svg>
                        <span class="poster__sequence-number">2</span>
                        <p class="poster__sequence-text">Завтра производим</p>
                    </div>
                    <div class="poster__sequence-block poster__sequence-three">
                        <svg class="poster__sequence-square" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="40" height="40" fill="#4F4F4F" />
                        </svg>
                        <span class="poster__sequence-number">3</span>
                        <p class="poster__sequence-text">Послезавтра монтаж</p>
                    </div>
                </div>
                <div class="poster__button">
                    <button class="button-catalog button-main button">Каталог</button>
                    <button class="button-order button-main button">Заказать</button>
                </div>
            </div>
            <div class="poster__img">
                <picture class="poster__picture">
                    <!-- <source srcset="/static/images/myslides-01.png, /static/images/myslides-01_retina.png 2x" media="(min-width: 1024px)">
                    <source srcset="/static/images/myslides-01_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                    <source srcset="/static/images/myslides-01_mobile.png" media="(max-width: 767px)">
                    <img class="poster__image" src="static/images/men_2.png" alt="изображение работника"> -->
                </picture>
            </div>
        </div>
    </div>
</section>