<section class="poster">
    <div class="container">
        <div class="poster__wrapper">
            <div class="poster__information">
                <div class="poster__title-block">
                    <h1 class="poster__title-text title-block_one">Европейские натяжные потолки</h1>
                    <div class="poster__title-price">
                        <svg class="poster__title-square" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="16" height="16" fill="#333333" />
                        </svg>
                        <span class="poster__title-cost">от 159 руб/м2</span>
                    </div>
                </div>
                <div class="poster__sequence">
                    <div class="poster__sequence-block poster__sequence-one">
                        <svg class="poster__sequence-square" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="30" height="30" fill="#4F4F4F" />
                        </svg>
                        <span class="poster__sequence-number poster__sequence-number--one">1</span>
                        <p class="poster__sequence-text">Сегодня замеряем</p>
                    </div>
                    <div class="poster__sequence-block poster__sequence-two">
                        <svg class="poster__sequence-square" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="30" height="30" fill="#4F4F4F" />
                        </svg>
                        <span class="poster__sequence-number">2</span>
                        <p class="poster__sequence-text">Завтра производим</p>
                    </div>
                    <div class="poster__sequence-block poster__sequence-three">
                        <svg class="poster__sequence-square" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="30" height="30" fill="#4F4F4F" />
                        </svg>
                        <span class="poster__sequence-number">3</span>
                        <p class="poster__sequence-text">Послезавтра натягиваем</p>
                    </div>
                </div>
                <div class="poster__button">
                    <button class="poster__button-catalog button-main">Каталог</button>
                    <button class="poster__button-order button-main">Заказать</button>
                </div>
            </div>
            <div class="poster__img">
                <picture class="poster__picture">
                    <!-- <source srcset="/static/images/myslides-01.png, /static/images/myslides-01_retina.png 2x" media="(min-width: 1024px)">
                    <source srcset="/static/images/myslides-01_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                    <source srcset="/static/images/myslides-01_mobile.png" media="(max-width: 767px)"> -->
                    <img class="poster__image" src="static/images/men_2.png" alt="изображение работника">
                </picture>
            </div>
        </div>
    </div>
</section>