@import "../vars";
@import "../colors";
@import "../mixins";

.poster {
  margin-top: 20px;

  @include media_interval(0, $media_mobile) {
    margin: 0;
  }

  &__wrapper {
    position: relative;
    top: 0;
    display: flex;
  }

  &__information {
    width: 100%;
  }

  &__title-block {
    position: relative;
    max-width: 640px;
    margin-bottom: 30px;

    @include media_interval($media_tablet, $media_laptop) {
      max-width: 585px;
      margin-bottom: 20px;
    }

    @include media_interval(0, $media_mobile) {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &__title-text {
    text-align: start;
    line-height: 61px;

    @include media_interval(0, $media_mobile) {
      text-align: center;
      margin-bottom: 10px;
    }

    @include media_interval($media_mobile-extra-small, $media_mobile-small) {
      font-size: 44px;
      line-height: 52px;
    }
    @include media_interval(0, $media_mobile-extra-small) {
      font-size: 36px;
      line-height: 47px;
    }
  }

  &__title-price {
    position: absolute;
    top: 16px;
    right: 56px;
    display: flex;

    @include media_interval(0, $media_mobile) {
      position: unset;
      justify-content: center;
    }
  }

  &__title-square {
    margin-top: 4px;
  }

  &__title-cost {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    width: 90px;
    display: block;
    margin-left: 13px;
    margin-top: -3px;
    color: $c_black-3;
  }

  &__sequence {
    display: flex;
    margin: 0 0 20px;

    @include media_interval($media_tablet, $media_laptop) {
      margin: 0 0 10px 5px;
    }

    @include media_interval($media_mobile-extra-small, $media_mobile) {
      justify-content: space-between;
    }

    @include media_interval(0, $media_mobile-extra-small) {
      display: none;
    }

    &-block {
      position: relative;
      margin-right: 100px;
      text-align: start;

      @include media_interval($media_tablet, $media_laptop) {
        margin-right: 90px;
      }

      @include media_interval(0, $media_mobile) {
        margin: 0;
        text-align: center;
      }
    }

    &-number {
      position: absolute;
      left: 13px;
      top: 6px;
      font-size: 24px;
      font-weight: 300;
      color: $c_white;

      &--one {
        left: 16px;
      }
    }

    &-text {
      font-size: 18px;
      line-height: 18px;
      color: $c_black-3;
      width: 100px;
      margin-top: 10px;

      @include media_interval(0, $media_mobile) {
        font-size: 15px;
      }
    }
  }

  &__button {
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 0 40px 5px;

    @include media_interval(0, $media_mobile) {
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 0 80px 5px;
    }

    &-catalog {
      margin: 20px;

      // @include media_interval(0, $media_mobile) {
      //   margin: 0 0 20px;
      // }
    }
  }

  &__img {
    position: absolute;
    bottom: -100px;
    right: -40px;
  }
}
