@import "./vars";
@import "./colors";
@import "./mixins";

.poster::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: relative;
  left: 0;
  bottom: 99px;
  border-top: 100px solid transparent;
  border-right: 100vw solid white;
}

.poster {
  height: 605px;
  margin-bottom: 56px;

  &__wrapper {
    position: relative;
    top: 34px;
    display: flex;
  }

  &__title-block {
    position: relative;
    max-width: 640px;
    margin-bottom: 58px;
  }

  &__title-text {
    text-align: start;
    line-height: 77px;
  }

  &__title-price {
    position: absolute;
    top: 16px;
    right: 56px;
    display: flex;
  }

  &__title-square {
    margin-top: 4px;
  }

  &__title-cost {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    width: 90px;
    display: block;
    margin-left: 13px;
    margin-top: -3px;
  }

  &__sequence {
    display: flex;
    margin: 0 0 47px 5px;

    &-block {
      position: relative;
      margin-right: 100px;
      text-align: start;
    }

    &-number {
      position: absolute;
      left: 13px;
      top: 6px;
      font-size: 24px;
      font-weight: 300;
      color: $c_white;

      &--one {
        left: 16px;
      }
    }

    &-text {
      font-size: 18px;
      line-height: 18px;
      color: $c_gray--dark-extra;
      width: 100px;
      margin-top: 10px;
    }
  }

  &__button {
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 5px;
  }

  &__img {
    position: absolute;
    bottom: -100px;
    right: -40px;
  }
}
