<button class="btn-top visually-hidden btn-top__js" title="Go to top">
    <svg class="btn-top__svg" width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="11.25" y="50.75" width="39.5" height="39.5" rx="19.75" transform="rotate(-90 11.25 50.75)" fill="white" stroke="#070707" stroke-width="2.5" />
        <rect x="19.3008" y="34.5786" width="16.5512" height="3" rx="1.5" transform="rotate(-45 19.3008 34.5786)" fill="#070707" />
        <rect x="40.5801" y="36.7" width="16.5512" height="3" rx="1.5" transform="rotate(-135 40.5801 36.7)" fill="#070707" />
    </svg>
</button>