@import "../colors";
@import "../vars.scss";
@import "../mixins.scss";

.btn-top {
  position: fixed;
  bottom: 30px;
  right: 30px;

  animation: animate 0, 4s;

  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));

  @keyframes animate {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
