<section class="review">
    <div class="container">
        <h2 class="review__title title-block_two">Отзывы о работе</h2>
        <div class="review__wrapper">
            <div class="review__block">
                <div class="review__block-top">
                    <img class="review__block-img" src="/static/images/review_1.png" alt="фотография Алексей Ткачук">
                    <svg class="review__block-svg" width="80" height="89" viewBox="0 0 80 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="80" height="89" fill="#F2F2F2" />
                    </svg>
                    <div class="review__block-wrapper">
                        <span class="review__block-wrapper--NAME">Алексей Ткачук</span>
                        <span class="review__block-wrapper--DATE">18.08.2020</span>
                        <span class="review__block-wrapper--ITEM">Потолок:</span>
                        <span class="review__block-wrapper--VARIETY">Сатиновый</span>
                    </div>
                </div>
                <div class="review__block-bottom">
                    <svg class="review__block-bottom--SVG" width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="58" height="16" fill="#C9C9C9" />
                    </svg>
                    <p class="review__block-bottom--TEXT">
                        "Спасибо большое, сделали очень быстро и качественно. Смотрю любуюсь. Жена давно просила поменять потолок, благодаря вам теперь на кухне красота."
                    </p>
                </div>
            </div>
            <div class="review__block review__block-two">
                <div class="review__block-top">
                    <img class="review__block-img" src="/static/images/review_2.png" alt="фотография Алексей Ткачук">
                    <svg class="review__block-svg" width="80" height="89" viewBox="0 0 80 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="80" height="89" fill="#F2F2F2" />
                    </svg>
                    <div class="review__block-wrapper">
                        <span class="review__block-wrapper--NAME">Семья Ребровых</span>
                        <span class="review__block-wrapper--DATE">02.04.2020</span>
                        <span class="review__block-wrapper--ITEM">Потолок:</span>
                        <span class="review__block-wrapper--VARIETY">Сатиновый и глянцевый</span>
                    </div>
                </div>
                <div class="review__block-bottom">
                    <svg class="review__block-bottom--SVG" width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="58" height="16" fill="#C9C9C9" />
                    </svg>
                    <p class="review__block-bottom--TEXT">
                        "Наконец-то выбрали время поделиться своими впечатлениями. Компания Орион - это профессионалы!!!. Два натяжных потолка смонтировали очень аккуратно, быстро и цена привлекательная. Ни капли не пожалели, что обратились за данной услугой именно к вам. Теперь советую вас всем своим знакомым и друзьям."
                    </p>
                </div>
            </div>
            <div class="review__block">
                <div class="review__block-top">
                    <img class="review__block-img" src="/static/images/review_3.png" alt="фотография Светлана Бондаренко">
                    <svg class="review__block-svg" width="80" height="89" viewBox="0 0 80 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="80" height="89" fill="#F2F2F2" />
                    </svg>
                    <div class="review__block-wrapper">
                        <span class="review__block-wrapper--NAME">Светлана Бондаренко</span>
                        <span class="review__block-wrapper--DATE">09.02.2020</span>
                        <span class="review__block-wrapper--ITEM">Потолок:</span>
                        <span class="review__block-wrapper--VARIETY">Двухуровневый</span>
                    </div>
                </div>
                <div class="review__block-bottom">
                    <svg class="review__block-bottom--SVG" width="58" height="16" viewBox="0 0 58 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="58" height="16" fill="#C9C9C9" />
                    </svg>
                    <p class="review__block-bottom--TEXT">
                        "Заказывали натяжные потолки в Потолки-Орион. Замерщик Илья очень подробно все объяснил, все рассказал. Заключили договор и на следующий день приехали устанавливать потолки. Монтажники сделали все очень быстро (всего за два часа) и аккуратно. Цена оказалась доступная, ещё и скидку сделали, как новоселам. Спасибо огромное!"
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>