@import "../vars";
@import "../colors";
@import "../mixins";

.review {
  padding: 0 0 60px;
  position: relative;

  &::before {
    background: url(/static/images/diary.png);
    background-position: left;
    background-repeat: no-repeat;
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    opacity: 0.1;
    z-index: -1;
  }

  &__title {
    margin-bottom: 40px;
    width: 400px;
  }

  &__wrapper {
    display: flex;
    width: 86%;
    margin: 0 auto;
  }

  &__block {
    width: 33.3%;
    background-color: $c_gray--light;
    padding: 35px 35px 40px;
    position: relative;
    box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.45);

    &-top {
      display: flex;
    }

    &-img {
      margin-right: 35px;
    }

    &-svg {
      position: absolute;
      left: 180px;
      top: 40px;
    }

    &-wrapper {
      z-index: 1;
      height: 90px;
      margin-top: 5px;
      width: 100px;
      &--NAME {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 13px;
        margin-bottom: 17px;
      }
      &--DATE {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 11px;
        margin-bottom: 7px;
      }
      &--ITEM {
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 10px;
        margin-bottom: 7px;
      }
      &--VARIETY {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 11px;
      }
    }

    &-bottom {
      margin-top: 20px;
      &--SVG {
        margin-bottom: 11px;
      }
      &--TEXT {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
      }
    }

    &-two {
      margin: 0 20px;
    }
  }
}
