.catalog {
  background-color: white;
  margin-bottom: 60px;
  overflow: hidden;

  &__top {
    display: flex;
    margin-bottom: 55px;
  }

  &__title {
    margin-right: 69px;
  }

  &__cost-wrapper {
    display: flex;
  }

  &__cost-square {
    margin-top: 11px;
  }

  &__cost-text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 17px;
    margin: 8px 0 0 8px;
    width: 160px;
  }

  &__tabs {
    max-width: 900px;
    margin: 0 auto 16px;

    &-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-item {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 17px;
      color: $c_black-3;
      padding: 11px 29px;
      transition: $tr_duration $tr_easing;

      &:active,
      &:hover {
        color: $c_black-3;
        background-color: $c_gray--light;
        padding: 11px 29px;
        border-radius: 5px;
      }

      &:focus {
        color: $c_white-2;
        background-color: $c_black-3;
        padding: 11px 29px;
        border-radius: 5px;
      }
    }
    &-item.active {
      color: $c_white-2;
      background-color: $c_black-3;
      padding: 11px 29px;
      border-radius: 5px;
    }
  }

  &__content {
    display: flex;
    position: relative;
    margin-bottom: 60px;
  }

  &__description {
    margin-left: 103px;

    &-target {
      display: none;
      animation: fadeEffect 0.6s;
    }
    &-target.active {
      display: block;
    }

    &-title {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 34px;
      color: $c_black-3;
      margin: 0 0 10px;
      height: 60px;
    }

    &-text {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 17px;
      height: 185px;
      margin: 20px 0;
    }

    &-img {
      position: absolute;
      top: 16px;
      left: 20px;
    }

    &-price {
      position: relative;
      bottom: -69px;
      left: 174px;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 23px;
    }

    &-info {
      display: flex;

      &--TEXT {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 17px;
        width: 110px;
        margin-left: 10px;
      }
    }

    &-cost {
      display: flex;
      align-items: center;
      margin-bottom: 27px;

      &--TEXT {
        font-size: 24px;
        margin-right: 25px;
      }
    }
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
