@import "../vars";
@import "../colors";
@import "../mixins";

.catalog {
  overflow: hidden;
  position: relative;
  padding: 0 0 60px;

  &::before {
    background: url(/static/images/hammer-clip-art-26.png);
    background-position: right;
    background-repeat: no-repeat;
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    opacity: 0.1;
    z-index: -1;
  }

  &__top {
    display: flex;
    margin-bottom: 35px;
  }

  &__title {
    margin-right: 69px;
  }

  &__cost-wrapper {
    display: flex;
  }

  &__cost-square {
    margin-top: 11px;
  }

  &__cost-text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 17px;
    margin: 8px 0 0 8px;
    width: 160px;
  }

  &__tabs {
    max-width: 900px;
    margin: 0 auto 16px;

    &-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-item {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 17px;
      color: $c_black-3;
      padding: 11px 29px;
      margin: 2px;
      transition: $tr_duration $tr_easing;

      &:active,
      &:hover {
        color: $c_black-3;
        background-color: $c_gray--light;
        padding: 11px 29px;
        border-radius: 2px;
      }

      &:focus {
        color: $c_white-2;
        background-color: $c_black-3;
        padding: 11px 29px;
        border-radius: 2px;
      }
    }
    &-item.active {
      color: $c_white-2;
      background-color: $c_black-3;
      padding: 11px 29px;
      border-radius: 2px;
    }
  }

  &__content {
    display: flex;
    position: relative;
  }

  &__description {
    margin-left: 0;
    position: relative;

    &-target {
      display: none;
      animation: fadeEffect 0.3s;
    }
    &-target.active {
      display: block;
    }

    &-box {
      display: flex;
    }

    &-title {
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 34px;
      color: $c_black-3;
      margin: 0 0 10px;
    }

    &-text {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 17px;
      margin: 20px 0;
    }

    &-img {
      margin-right: 60px;
      box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.45);
    }

    &-inner {
      position: relative;
    }

    &-price {
      position: absolute;
      bottom: 105px;
      left: 150px;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 23px;
      z-index: 1;
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      left: 741px;
      bottom: 0;

      &--TOP {
        display: flex;
        margin-bottom: 10px;
      }

      &--TEXT {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 17px;
        width: 110px;
        margin-left: 10px;
      }
    }

    &-cost {
      display: flex;
      align-items: center;
      margin-bottom: 27px;
      animation: fadeEffect 0.5s;

      &--TEXT {
        font-size: 24px;
        margin-right: 25px;
      }
    }
    &-button {
      height: 75px;
    }
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
