<section class="catalog">
    <div class="container">
        <div class="catalog__top">
            <h2 class="catalog__title title-block_two">Каталог</h2>
            <div class="catalog__cost-wrapper">
                <svg class="catalog__cost-square" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="11" height="11" fill="#828282" />
                </svg>
                <p class="catalog__cost-text">Цены за 1 квадратный метр</p>
            </div>
        </div>
        <div class="catalog__tabs">
            <nav class="catalog__tabs-items">
                <button class="catalog__tabs-item js-tab-trigger active" data-tab="1"><span>Матовые</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="2"><span>Фактурные</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="3"><span>Двухуровневые</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="4"><span>Глянцевие</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="5"><span>АРТ-печать</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="6"><span>Парящие</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="7"><span>Сатиновые</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="8"><span>Тканевые</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="9"><span>APPLY 3D - резные</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="10"><span>Световые линии</span></button>
            </nav>
        </div>
        <div class="catalog__content">
            <div class="catalog__photo">
                <img src="/static/images/catalog_grid.png" alt="сетка">
            </div>
            <div class="catalog__description">
                <div class="catalog__description-target js-tab-content active" data-tab="1">
                    <h3 class="catalog__description-title">Матовые натяжные потолки</h3>
                    <p class="catalog__description-text">
                        Внешний вид матовых потолков напоминает классический белёный потолок. Поверхность матовой плёнки шероховатая. Шероховатости поглощают блики от освещения, поэтому поверхность потолка равномерно освещённая. Ассортимент насчитывает около 40 цветов и оттенков матовых потолков. Матовые плёнки самые популярные среди натяжных потолков.
                    </p>
                    <img class="catalog__description-img" src="/static/images/mat.png" alt="матовый потолок">
                    <span class="catalog__description-price">от 199 р./м2</span>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="2">
                    <h3 class="catalog__description-title">Фактурные натяжные потолки</h3>
                    <p class="catalog__description-text">
                        Кроме классических натяжных потолков, таких как глянцевые матовые и сатиновые существуют плёнки с нанесённым узором на поверхности а так-же эксклюзивных цветов - металлик, перламутр и др. Толщина фактурных потолков значительно больше классических.
                    </p>
                    <img class="catalog__description-img" src="/static/images/facture.png" alt="фактурный потолок">
                    <span class="catalog__description-price">от 390 р./м2</span>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="3">
                    <h3 class="catalog__description-title">Двухуровневые натяжные потолки</h3>
                    <p class="catalog__description-text">
                        Двухуровневые натяжные потолки являются достаточно модным и эффектным интерьерным решением. С их помощью можно организовать оригинальное, нестандартное и необычное освещение, визуально зонировать пространство и скрыть его недостатки.
                    </p>
                    <img class="catalog__description-img" src="/static/images/2_x 1.png" alt="двухуровневый потолок">
                    <span class="catalog__description-price">от 640 р./м2</span>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="4">
                    <h3 class="catalog__description-title">Глянцевие натяжные потолки</h3>
                    <p class="catalog__description-text">
                        Их ещё называют лаковые за отражающую зеркальную поверхность. Светлый интерьер с таким потолком становится ещё светлее. А тёмные стены отражающиеся в таком потолке могут сделать комнату мрачной. Глянцевое полотно отлично смотрится в комбинации с матовым на одном потолке. В нашем ассортименте 100 оттенков глянцевых натяжных потолков.
                    </p>
                    <img class="catalog__description-img" src="/static/images/glyanec.png" alt="глянцевый потолок">
                    <span class="catalog__description-price">от 249 р./м2</span>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="5">
                    <h3 class="catalog__description-title">АРТ-печать</h3>
                    <p class="catalog__description-text">
                        Полотна с изображением на поверхности называются АРТ-печать. В отличии от фотопечати которая наносится на полотно по заказу, АРТ-печать это готовые полотна с изображением на всей его поверхности. Изображение на такие полотна наносится на заводе, а после поставляется на производство в рулонах с намоткой 50 метров. Самые популярные полотна с АРТ-печатью - облака и абстракция.
                    </p>
                    <img class="catalog__description-img" src="/static/images/art.png" alt="потолок с АРТ печатью">
                    <span class="catalog__description-price">от 750 р./м2</span>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="6">
                    <h3 class="catalog__description-title">Парящие натяжные потолки</h3>
                    <p class="catalog__description-text">
                        Парящими такие потолки называют за визуальный эффект - как-будто потолок ни к чему не закреплён и завис в воздухе. Такой эффект достигается благодаря конфигурации профиля, примыкание к стене которого можно увидеть только вплотную прижавшись к стене на которой он установлен. Это первый профиль разработанный для вклейки светодиодной ленты в натяжной потолок.
                    </p>
                    <img class="catalog__description-img" src="/static/images/paryayaschiy.png" alt="порящий потолок">
                    <span class="catalog__description-price">от 699 р./м2</span>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="7">
                    <h3 class="catalog__description-title">Сатиновые натяжные потолки</h3>
                    <p class="catalog__description-text">
                        Многие путают сатиновые натяжные потолки с тканевыми, хотя это абсолютно разные материалы. Сатиновые потолки это одна из разновидностей ПВХ плёнки. Они очень похожи визуально с матовыми, только их поверхность идеально гладкая. Благодаря гладкой поверхности на потолке более заметны блики от освещения. Ассортимент насчитывает менее 20 видов сатиновой плёнки.
                    </p>
                    <img class="catalog__description-img" src="/static/images/satin.png" alt="сатиновый потолок">
                    <span class="catalog__description-price">от 219 р./м2</span>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="8">
                    <h3 class="catalog__description-title">Тканевые натяжные потолки</h3>
                    <p class="catalog__description-text">
                        Морозостойкие, негорючие и абсолютно экологичные натяжные потолки. Тканевые полотна это текстиль со специальной пропиткой, которая защищает полотна от пролива и облегчает уход за ними. Тканевые полотна бывают разной степени пропитки, плотности и цветов. Установка таких потолков не требует нагрева полотна и помещения.
                    </p>
                    <img class="catalog__description-img" src="/static/images/tkan.png" alt="тканевый потолок">
                    <span class="catalog__description-price">от 590 р./м2</span>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="9">
                    <h3 class="catalog__description-title">APPLY 3D - резные</h3>
                    <p class="catalog__description-text">
                        APPLY – это технология, позволяющая создавать новые шедевры в декоре потолка. Инженеры нашей фирмы спроектировали и собрали уникальное оборудование, тщательно продумали технологический процесс, в результате которого вы можете получать простые и сложные вырезы в полотне.
                    </p>
                    <img class="catalog__description-img" src="/static/images/apply.png" alt="потолок apply">
                    <span class="catalog__description-price">от 890 р./м2</span>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="10">
                    <h3 class="catalog__description-title">Световые линии</h3>
                    <p class="catalog__description-text">
                        Вариант освещения в натяжном потолке представляющий собой светящиеся полосы разной формы и длины. Может служить основным освещением или дополнительно к люстре и спотам!
                    </p>
                    <img class="catalog__description-img" src="/static/images/lines.png" alt="световые линии">
                    <span class="catalog__description-price">от 750 р./м2</span>
                </div>
                <div class="catalog__description-info">
                    <svg class="catalog__description-info--COLUMN" width="7" height="31" viewBox="0 0 7 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="7" height="31" transform="matrix(-1 0 0 1 7 0)" fill="#E0E0E0" />
                    </svg>
                    <p class="catalog__description-info--TEXT">Бесшовные до 550 см</p>
                </div>
                <div class="catalog__description-cost">
                    <span class="catalog__description-cost--TEXT">Стоимость:</span>
                    <svg class="catalog__description-cost--SVG" width="78" height="46" viewBox="0 0 78 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="78" height="46" fill="#E0E0E0" />
                    </svg>
                </div>
                <button class="poster__button-order button-main button">Заказать</button>
            </div>
        </div>
    </div>
</section>