<section class="showroom" id="showroom_js">
    <div class="container">
        <h2 class="visually-hidden">шоурум натяжных потолков в самаре</h2>
        <div class="showroom__wrapper">
            <section class="showroom__content">
                <div class="showroom__inner">
                    <h2 class="showroom__title title-block_two">ШОУРУМ НАТЯЖНЫХ ПОТОЛКОВ В САМАРЕ</h2>
                    <div class="showroom__inner-box">
                        <div class="showroom__inner-box--VL"></div>
                        <div class="showroom__inner-text">
                            <p class="showroom__inner-text--TOP">Лучше один раз увидеть, чем сто раз услышать. Но и смотреть на товар, конечно же, лучше в живую. Поэтому всех, кого интересуют инновации в сфере натяжных потолков, мы приглашаем в наш шоурум.</p>
                            <p class="showroom__inner-text--BOTTOM">В нашем выставочном зале Вы ознакомитесь со всеми преимуществами наших потолков. Увидите все возможные варианты креплений и примыканий полотна к стенам, а так же узнаете о всевозможных световых решениях, узнаете как выглядит световой потолок, что такое профиль KRAAB и EUROKRAAB и многое друго.</p>
                            <!-- <a class="showroom__inner-play">
                                <div class="showroom__inner-play--IMG"></div>
                                <p class="showroom__inner-play--TEXT">Посмореть короткое видео о нашем шоуруме</p>
                            </a> -->
                        </div>
                    </div>
                </div>
            </section>
            <section class="showroom__gallery">
                <h2 class="visually-hidden">шоурум. галлерея фото</h2>
                <div class="showroom__gallery-block showroom__gallery-block--ONE" data-lightbox="roadtrip">
                    <div class="showroom__gallery-block--WRAP">
                        <img class="showroom__gallery-img" src="/static/images/showroom_1.jpg" alt="">
                        <div class="showroom__gallery-hover">
                            <img class="showroom__gallery-hover--IMG" src="/static/images/search.svg" alt="иконка для увеличения объекта">
                        </div>
                    </div>
                </div>
                <div class="showroom__gallery-block showroom__gallery-block--TWO">
                    <div class="showroom__gallery-block--WRAP">
                        <img class="showroom__gallery-img" src="/static/images/showroom_2.jpg" alt="">
                        <div class="showroom__gallery-hover">
                            <img class="showroom__gallery-hover--IMG" src="/static/images/search.svg" alt="иконка для увеличения объекта">
                        </div>
                    </div>
                </div>
                <div class="showroom__gallery-block showroom__gallery-block--THREE" data-lightbox="gallery">
                    <div class="showroom__gallery-block--WRAP">
                        <img class="showroom__gallery-img" src="/static/images/showroom_3.jpg" alt="">
                        <div class="showroom__gallery-hover">
                            <img class="showroom__gallery-hover--IMG" src="/static/images/search.svg" alt="иконка для увеличения объекта">
                        </div>
                    </div>
                </div>
                <div class="showroom__gallery-block showroom__gallery-block--FOUR" data-lightbox="gallery">
                    <div class="showroom__gallery-block--WRAP">
                        <img class="showroom__gallery-img" src="/static/images/showroom_4.jpg" alt="">
                        <div class="showroom__gallery-hover">
                            <img class="showroom__gallery-hover--IMG" src="/static/images/search.svg" alt="иконка для увеличения объекта">
                        </div>
                    </div>
                </div>
                <div class="showroom__gallery-block showroom__gallery-block--FIVE" data-lightbox="gallery">
                    <div class="showroom__gallery-block--WRAP">
                        <img class="showroom__gallery-img" src="/static/images/showroom_5.jpg" alt="">
                        <div class="showroom__gallery-hover">
                            <img class="showroom__gallery-hover--IMG" src="/static/images/search.svg" alt="иконка для увеличения объекта">
                        </div>
                    </div>
                </div>
                <div class="showroom__gallery-block showroom__gallery-block--SIX" data-lightbox="gallery">
                    <div class="showroom__gallery-block--WRAP">
                        <img class="showroom__gallery-img" src="/static/images/showroom_6.jpg" alt="">
                        <div class="showroom__gallery-hover">
                            <img class="showroom__gallery-hover--IMG" src="/static/images/search.svg" alt="иконка для увеличения объекта">
                        </div>
                    </div>
                </div>
                <div class="showroom__gallery-block showroom__gallery-block--SEVEN" data-lightbox="gallery">
                    <div class="showroom__gallery-block--WRAP">
                        <img class="showroom__gallery-img" src="/static/images/showroom_7.jpg" alt="">
                        <div class="showroom__gallery-hover">
                            <img class="showroom__gallery-hover--IMG" src="/static/images/search.svg" alt="иконка для увеличения объекта">
                        </div>
                    </div>
                </div>
                <div class="showroom__gallery-block showroom__gallery-block--EIGHT" data-lightbox="gallery">
                    <div class="showroom__gallery-block--WRAP">
                        <img class="showroom__gallery-img" src="/static/images/showroom_8.jpg" alt="">
                        <div class="showroom__gallery-hover">
                            <img class="showroom__gallery-hover--IMG" src="/static/images/search.svg" alt="иконка для увеличения объекта">
                        </div>
                    </div>
                </div>
                <div class="showroom__gallery-block showroom__gallery-block--NINE" data-lightbox="gallery">
                    <div class="showroom__gallery-block--WRAP">
                        <img class="showroom__gallery-img" src="/static/images/showroom_9.jpg" alt="">
                        <div class="showroom__gallery-hover">
                            <img class="showroom__gallery-hover--IMG" src="/static/images/search.svg" alt="иконка для увеличения объекта">
                        </div>
                    </div>
                </div>
            </section>
            <section class="showroom__feedback">
                <div class="showroom__feedback-wrapper">
                    <form class="showroom__feedback-form" action="#">
                        <label class="showroom__feedback-lable">
                            <span class="showroom__feedback-text">Ваш телефон:</span>
                            <input class="showroom__feedback-input" type="tel" name="phone" placeholder="8 999 999 99 99" autocomplete="off" pattern="8[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}">
                        </label>
                        <hr class="showroom__feedback-hr">
                        <div class="showroom__feedback-btn">
                            <button class="button showroom__feedback-button button_transparent" type="submit">
                                <span class="showroom__feedback-button--NAME button_transparent-name">Заказать</span>
                            </button>
                        </div>
                    </form>
                    <div class="showroom__feedback-content">
                        <h2 class="showroom__feedback-title title-block_two">ПЕРЕД ПОСЕЩЕНИЕМ ДОГОВОРИТЕСЬ С МЕНЕДЖЕРОМ О ВРЕМЕНИ</h2>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>