<section class="showroom">
    <div class="container">
        <div class="showroom__wrapper">
            <div class="showroom__content">
                <div class="showroom__inner">
                    <h2 class="showroom__title title-block_two">ШОУРУМ НАТЯЖНЫХ ПОТОЛКОВ В САМАРЕ</h2>
                    <div class="showroom__inner-box">
                        <div class="showroom__inner-box--VL"></div>
                        <div class="showroom__inner-text">
                            <p class="showroom__inner-text--TOP">Лучше один раз увидеть, чем сто раз услышать. Но и смотреть на товар, конечно же, лучше в живую. Поэтому всех, кого интересуют инновации в сфере натяжных потолков, мы приглашаем в наш шоурум.</p>
                            <p class="showroom__inner-text--BOTTOM">В нашем выставочном зале Вы ознакомитесь со всеми преимуществами наших потолков. Увидите все возможные варианты креплений и примыканий полотна к стенам, а так же узнаете о всевозможных световых решениях, узнаете как выглядит световой потолок, что такое профиль KRAAB и EUROKRAAB и многое друго.</p>
                            <a class="showroom__inner-play">
                                <div class="showroom__inner-play--IMG"></div>
                                <p class="showroom__inner-play--TEXT">Посмореть короткое видео о нашем шоуруме</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="showroom__feedback">
                    <div class="showroom__feedback-wrapper">
                        <div class="showroom__feedback-content">
                            <h2 class="showroom__feedback-title title-block_two">ПЕРЕД ПОСЕЩЕНИЕМ ДОГОВОРИТЕСЬ С МЕНЕДЖЕРОМ О ВРЕМЕНИ</h2>
                        </div>
                        <form class="showroom__form" action="">
                            <label class="showroom__form-lable">
                                <span class="showroom__form-text">Ваше имя</span>
                                <input class="showroom__form-input" type="text" name="name" placeholder="Иван" autocomplete="off">
                            </label>
                            <hr class="showroom__form-hr">
                            <label class="showroom__form-phone-input showroom__form-lable">
                                <span class="showroom__form-text">Ваш телефон</span>
                                <input class="showroom__form-input" type="tel" name="phone" placeholder="8 999 999 99 99" autocomplete="off">
                            </label>
                            <hr class="showroom__form-hr">
                            <div class="showroom__form-btn">
                                <button class="showroom__form-button  button-main button" type="submit">Посетить шоурум</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="showroom__gallery">
                <a class="showroom__gallery-block showroom__gallery-block--ONE" href="/static/images/showroom_1.jpg" data-lightbox="roadtrip"><img src="/static/images/showroom_1.jpg" alt="no-img"></a>
                <!-- <a class="showroom__gallery-block showroom__gallery-block--ONE" href="/static/images/showroom_1.jpg" data-lightbox="roadtrip">
                    <img class="showroom__gallery-img" src="/static/images/showroom_1.jpg" alt="">
                    <div class="showroom__gallery-hover">
                        <img class="showroom__gallery-hover--IMG" src="/static/images/search.svg" alt="иконка для увеличения объекта">
                    </div>
                </a> -->
                <div class="showroom__gallery-block showroom__gallery-block--TWO" data-lightbox="gallery">
                    <img class="showroom__gallery-img" src="/static/images/showroom_2.jpg" alt="">
                    <div class="showroom__gallery-hover">
                        <img class="showroom__gallery-hover--IMG" src="/static/images/search.svg" alt="иконка для увеличения объекта">
                    </div>
                </div>
                <div class="showroom__gallery-block showroom__gallery-block--THREE" data-lightbox="gallery">
                    <img class="showroom__gallery-img" src="/static/images/showroom_3.jpg" alt="">
                    <div class="showroom__gallery-hover">
                        <img class="showroom__gallery-hover--IMG" src="/static/images/search.svg" alt="иконка для увеличения объекта">
                    </div>
                </div>
                <div class="showroom__gallery-block showroom__gallery-block--FOUR" data-lightbox="gallery">
                    <img class="showroom__gallery-img" src="/static/images/showroom_4.jpg" alt="">
                    <div class="showroom__gallery-hover">
                        <img class="showroom__gallery-hover--IMG" src="/static/images/search.svg" alt="иконка для увеличения объекта">
                    </div>
                </div>
                <div class="showroom__gallery-block showroom__gallery-block--FIVE" data-lightbox="gallery">
                    <img class="showroom__gallery-img" src="/static/images/showroom_5.jpg" alt="">
                    <div class="showroom__gallery-hover">
                        <img class="showroom__gallery-hover--IMG" src="/static/images/search.svg" alt="иконка для увеличения объекта">
                    </div>
                </div>
                <div class="showroom__gallery-block showroom__gallery-block--SIX" data-lightbox="gallery">
                    <img class="showroom__gallery-img" src="/static/images/showroom_6.jpg" alt="">
                    <div class="showroom__gallery-hover">
                        <img class="showroom__gallery-hover--IMG" src="/static/images/search.svg" alt="иконка для увеличения объекта">
                    </div>
                </div>
                <div class="showroom__gallery-block showroom__gallery-block--SEVEN" data-lightbox="gallery">
                    <img class="showroom__gallery-img" src="/static/images/showroom_7.jpg" alt="">
                    <div class="showroom__gallery-hover">
                        <img class="showroom__gallery-hover--IMG" src="/static/images/search.svg" alt="иконка для увеличения объекта">
                    </div>
                </div>
                <div class="showroom__gallery-block showroom__gallery-block--EIGHT" data-lightbox="gallery">
                    <img class="showroom__gallery-img" src="/static/images/showroom_8.jpg" alt="">
                    <div class="showroom__gallery-hover">
                        <img class="showroom__gallery-hover--IMG" src="/static/images/search.svg" alt="иконка для увеличения объекта">
                    </div>
                </div>
                <div class="showroom__gallery-block showroom__gallery-block--NINE" data-lightbox="gallery">
                    <img class="showroom__gallery-img" src="/static/images/showroom_9.jpg" alt="">
                    <div class="showroom__gallery-hover">
                        <img class="showroom__gallery-hover--IMG" src="/static/images/search.svg" alt="иконка для увеличения объекта">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>