<div class="mobile-menu">
    <button class="mobile-menu__button-close button-close-menu_js">
        <svg class="mobile-menu__svg" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="3.37256" width="32" height="4" rx="2" transform="rotate(45 3.37256 0)" fill="#070707" />
            <rect x="0.543945" y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0.543945 22.6289)" fill="#070707" />
        </svg>
    </button>
    <nav class="mobile-menu__nav">
        <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link" href="/">Виды потолков</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__item-link" href="/">Шоурум</a>
            </li>
            <li class="mobile-menu__item">
                <button class="mobile-menu__item-link" type="button">Контакты</button>
            </li>
        </ul>
    </nav>
</div>