@import "../colors";
@import "../vars.scss";
@import "../mixins.scss";

.mobile-menu {
  display: none;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: right;

  background-color: rgba($c_white, 0.98);

  &__logo {
    text-align: center;
    margin-top: 30px;

    @include media_interval($media_mobile, $media_tablet) {
      text-align: start;
      margin-left: 45px;
    }
  }

  &_open {
    display: block;

    animation: animate 0.3s;

    @keyframes animate {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  &__button-close {
    border: none;
    background-color: initial;
    margin: 27px 24px 30px 0;

    @include media_interval($media_mobile, $media_tablet) {
      margin: -10px 43px 75px 0;
    }
  }

  &__nav {
    margin-right: 20px;
  }

  &__item {
    margin-bottom: 41px;

    &-link {
      font-style: normal;
      font-weight: bold;
      font-size: 34px;
      line-height: 41px;
      color: $c_black;
    }
  }
}
