body {
  font-family: "Gotham Pro", sans-serif;
  margin: 0;
  overflow-x: hidden;
}
img {
  line-height: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
}
html {
  box-sizing: border-box;
}
button {
  cursor: pointer;
  outline: 0;
  border: none;
  padding: 0;
  background: 0 0;
}
.container {
  min-height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 110px;
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .container {
    padding: 0 50px;
  }
}
@media (min-width: 580px) and (max-width: 1023px) {
  .container {
    padding: 0 60px;
  }
}
@media (max-width: 579px) {
  .container {
    padding: 0 20px;
  }
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.title-block {
  margin: 0 0 20px;
}
.title-block_one {
  font-size: 64px;
  font-weight: 700;
  color: #333;
  margin: 0;
}
.title-block_two {
  font-size: 48px;
  line-height: 46px;
  font-weight: 700;
  color: #333;
  margin: 0;
}
h1,
h2,
h3 {
  margin: 0;
}
.button {
  transition: 0.2s linear;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.button:active {
  box-shadow: none;
  margin-top: 4px;
}
.button-main {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  padding: 20px 70px;
  border: 3px solid #ee3d48;
  border-radius: 10px;
}
.button-order {
  background-color: #ee3d48;
  color: #f2f2f2;
  transition: opacity 0.4s ease-in-out;
}
.button-catalog {
  margin-right: 35px;
  color: #ee3d48;
  transition: background-color 0.4s ease-in-out;
}
.header {
  padding: 30px 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-left: 5px;
}
.header__link {
  color: #333;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  margin: 0 20px;
  transition: 0.4s ease-in-out;
}
.header__link:focus,
.header__link:hover {
  color: #828282;
}
.header__contact {
  display: flex;
  align-items: center;
  height: 55px;
}
.header__contact-tel {
  color: #333;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
}
.header__contact-button {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  color: #f2f2f2;
  background-color: #4f4f4f;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px 33px;
  margin-left: 20px;
  transition: background-color 0.4s ease-in-out;
}
.header__contact-button:hover {
  background-color: #828282;
}
.header__contact-button:active {
  background-color: #4f4f4f;
}
footer {
  background-color: #ffd042;
  height: 80px;
  display: flex;
  align-items: center;
}
footer span {
  padding-right: 20px;
}
footer a {
  color: #000;
  text-decoration: none;
}
footer a:not(:last-child) {
  margin-right: 20px;
}
footer a:hover {
  border-bottom: 1px solid #000;
}
.poster::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: relative;
  left: 0;
  bottom: 99px;
  border-top: 100px solid transparent;
  border-right: 100vw solid #fff;
}
.poster {
  height: 605px;
  margin-bottom: 40px;
}
.poster__wrapper {
  position: relative;
  top: 34px;
  display: flex;
}
.poster__title-block {
  position: relative;
  max-width: 640px;
  margin-bottom: 58px;
}
.poster__title-text {
  text-align: start;
  line-height: 77px;
}
.poster__title-price {
  position: absolute;
  top: 16px;
  right: 56px;
  display: flex;
}
.poster__title-square {
  margin-top: 4px;
}
.poster__title-cost {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  width: 90px;
  display: block;
  margin-left: 13px;
  margin-top: -3px;
}
.poster__sequence {
  display: flex;
  margin: 0 0 47px 5px;
}
.poster__sequence-block {
  position: relative;
  margin-right: 100px;
  text-align: start;
}
.poster__sequence-number {
  position: absolute;
  left: 13px;
  top: 6px;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}
.poster__sequence-number--one {
  left: 16px;
}
.poster__sequence-text {
  font-size: 18px;
  line-height: 18px;
  color: #4f4f4f;
  width: 100px;
  margin-top: 10px;
}
.poster__button {
  height: 100px;
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.poster__img {
  position: absolute;
  bottom: -100px;
  right: -40px;
}
.catalog:before {
  background: url(/static/images/hammer-clip-art-26.png) right no-repeat;
  content: " ";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  opacity: 0.1;
  z-index: -1;
}
.catalog {
  overflow: hidden;
  position: relative;
}
.catalog__top {
  display: flex;
  margin-bottom: 35px;
}
.catalog__title {
  margin-right: 69px;
}
.catalog__cost-wrapper {
  display: flex;
}
.catalog__cost-square {
  margin-top: 11px;
}
.catalog__cost-text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 17px;
  margin: 8px 0 0 8px;
  width: 160px;
}
.catalog__tabs {
  max-width: 900px;
  margin: 0 auto 16px;
}
.catalog__tabs-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.catalog__tabs-item {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #333;
  padding: 11px 29px;
  transition: 0.4s ease-in-out;
}
.catalog__tabs-item:active,
.catalog__tabs-item:hover {
  color: #333;
  background-color: #e0e0e0;
  padding: 11px 29px;
  border-radius: 5px;
}
.catalog__tabs-item.active,
.catalog__tabs-item:focus {
  color: #f2f2f2;
  background-color: #333;
  padding: 11px 29px;
  border-radius: 5px;
}
.catalog__content {
  display: flex;
  position: relative;
  margin-bottom: 60px;
}
.catalog__description {
  margin-left: 103px;
}
.catalog__description-target {
  display: none;
  -webkit-animation: 0.6s fadeEffect;
  animation: 0.6s fadeEffect;
}
.catalog__description-target.active {
  display: block;
}
.catalog__description-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 34px;
  color: #333;
  margin: 0 0 10px;
  height: 60px;
}
.catalog__description-text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 17px;
  height: 185px;
  margin: 20px 0;
}
.catalog__description-img {
  position: absolute;
  top: 16px;
  left: 20px;
}
.catalog__description-price {
  position: relative;
  bottom: -69px;
  left: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
}
.catalog__description-info {
  display: flex;
}
.catalog__description-info--TEXT {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 17px;
  width: 110px;
  margin-left: 10px;
}
.catalog__description-cost {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}
.catalog__description-cost--TEXT {
  font-size: 24px;
  margin-right: 25px;
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.promotion::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: -1px;
  border-top: 100px solid #fff;
  border-right: 100vw solid transparent;
}
.promotion:before {
  background: linear-gradient(rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.8))
      center center/cover no-repeat fixed,
    url(/static/images/big_bg_2.jpg) center center/cover no-repeat fixed #ccc;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.promotion {
  padding: 140px 0;
  position: relative;
}
.promotion__title {
  color: #f2f2f2;
  width: 480px;
  margin-bottom: 40px;
}
.promotion__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1100px;
  margin: 0 auto 60px;
}
.promotion__block {
  position: relative;
  margin-right: 7px;
  transition: 0.4s ease-in-out;
}
.promotion__block-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #f2f2f2;
  max-width: 225px;
  margin: 0 0 52px;
  position: relative;
  top: 5px;
  left: 18px;
}
.promotion__block-title--BOLD {
  font-weight: 700;
}
.promotion__block-svg {
  position: absolute;
  left: 12px;
}
.promotion__block-img {
  border-radius: 10px;
  box-shadow: -8px 8px 0 0 #828282;
  margin-left: 13px;
  transition: 0.4s ease-in-out;
}
.promotion__block-img:hover {
  position: relative;
  transform: scale(1.1);
  box-shadow: none;
  box-shadow: none;
}
.promotion__block-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.work::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: -99px;
  border-top: 100px solid transparent;
  border-right: 100vw solid #fff;
}
.work:before {
  background: url(/static/images/hammer-drill.png) right no-repeat;
  content: " ";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  opacity: 0.1;
  z-index: -1;
}
.work {
  position: relative;
  padding: 40px 0;
}
.work__top {
  display: flex;
  align-items: flex-end;
  margin-bottom: 70px;
}
.work__top-text {
  width: 160px;
}
.work__title {
  width: 400px;
}
.work__top-block {
  display: flex;
  position: absolute;
  margin-bottom: 65px;
  align-items: center;
}
.work__top-svg {
  position: absolute;
  z-index: -1;
}
.work__top-appeal {
  width: 160px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  margin-left: 572px;
}
.work__slider {
  height: 500px;
}
.slide--parent {
  max-width: 1180px;
  margin: auto;
  overflow: hidden;
}
.is-item--text {
  line-height: 1.2;
}
small {
  font-style: italic;
  font-weight: 700;
  margin-bottom: 0.5em;
  display: inline-block;
  color: #999;
  position: relative;
  padding-left: 3em;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.1s;
}
small:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 4px;
  background: #ee3d48;
  transform: translateY(-50%);
}
.parent--el {
  width: 100%;
  max-width: 1180px;
  margin: auto;
}
.parent--el .two--col {
  display: flex;
  align-items: center;
}
figure {
  margin: 0;
}
.is-item {
  width: 40%;
}
.is-item.has--img {
  width: 60%;
}
.is-item--title {
  color: #343434;
  margin: 0;
  font-size: 2em;
  overflow: hidden;
}
.is-item--item {
  margin-left: 16px;
  list-style-type: square;
  transform: translateY(0);
  transition-delay: 0.5s;
}
.is-item--description {
  display: block;
  margin-bottom: 5px;
  font-size: 28px;
  font-weight: 700;
}
.the-img {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.the-img img {
  width: 100%;
  position: relative;
  transform: translateX(100%);
  transition: 0.6s;
}
.is-item--inner {
  padding: 0 3em;
}
hr {
  margin: 0.5em 0;
  height: 4px;
  background: #aaa;
  border: none;
  width: 0;
  max-width: 8em;
  transition: 2.5s;
}
.is-item--inner .is-item--description,
.is-item--inner .is-item--text,
.is-item--inner ul {
  transform: translateY(15px);
  position: relative;
  opacity: 0;
  transition: 0.4s;
}
.is-item--title span {
  transform: translateY(100%);
  position: relative;
  transition: 0.5s;
  display: inline-block;
}
small:after {
  width: 0;
  max-width: 2.4em;
  transition: 1.5s;
}
.parent--el.is-selected .the-img {
  overflow: hidden;
}
.parent--el.is-selected .the-img img {
  position: relative;
  transform: translateX(0);
  transition-delay: 0.5s;
}
.parent--el.is-selected .is-item--inner .is-item--description,
.parent--el.is-selected .is-item--inner .is-item--text,
.parent--el.is-selected .is-item--inner span,
.parent--el.is-selected .is-item--inner ul {
  transform: translateY(0);
  transition-delay: 0.5s;
  position: relative;
  opacity: 1;
}
.parent--el.is-selected .is-item--inner .is-item--description:nth-of-type(2),
.parent--el.is-selected .is-item--inner .is-item--text:nth-of-type(2),
.parent--el.is-selected .is-item--inner span:nth-of-type(2),
.parent--el.is-selected .is-item--inner ul:nth-of-type(2) {
  transition-delay: 0.7s;
}
.parent--el.is-selected .is-item--inner .is-item--description:nth-of-type(3),
.parent--el.is-selected .is-item--inner .is-item--text:nth-of-type(3),
.parent--el.is-selected .is-item--inner span:nth-of-type(3),
.parent--el.is-selected .is-item--inner ul:nth-of-type(3) {
  transition-delay: 0.9s;
}
.parent--el.is-selected .is-item--title {
  overflow: hidden;
}
.parent--el.is-selected .is-item--title span {
  transform: translateY(0);
  position: relative;
  transition-delay: 0.4s;
  display: inline-block;
}
.parent--el.is-selected hr {
  width: 100%;
  max-width: 8em;
  transition-delay: 0.5s;
}
.parent--el.is-selected small {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.4s;
}
.parent--el.is-selected small:after {
  width: 100%;
  transition-delay: 0.6s;
  max-width: 2.4em;
}
.review {
  padding: 0 0 40px;
}
.review__title {
  margin-bottom: 83px;
}
.review__wrapper {
  display: flex;
}
.review__block {
  width: 33.3%;
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 20px 35px 80px;
  position: relative;
}
.review__block-top {
  display: flex;
}
.review__block-img {
  margin-right: 35px;
}
.review__block-svg {
  position: absolute;
  left: 180px;
  top: 40px;
}
.review__block-wrapper {
  z-index: 1;
  height: 90px;
  margin-top: 28px;
  width: 100px;
}
.review__block-wrapper--NAME {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  margin-bottom: 17px;
}
.review__block-wrapper--DATE {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 11px;
  margin-bottom: 7px;
}
.review__block-wrapper--ITEM {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 7px;
}
.review__block-wrapper--VARIETY {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
}
.review__block-bottom {
  margin-top: 70px;
}
.review__block-bottom--SVG {
  margin-bottom: 11px;
}
.review__block-bottom--TEXT {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}
.review__block-two {
  margin: 0 20px;
}
