body {
  font-family: "Gotham Pro", sans-serif;
  margin: 0;
}
img {
  line-height: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
}
html {
  box-sizing: border-box;
}
button {
  cursor: pointer;
  outline: 0;
  border: none;
  padding: 0;
  background: 0 0;
}
input {
  outline: 0;
}
input::-moz-placeholder {
  color: #333;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  opacity: 0.6;
}
input:-ms-input-placeholder {
  color: #333;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  opacity: 0.6;
}
input::placeholder {
  color: #333;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  opacity: 0.6;
}
.container {
  min-height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 110px;
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .container {
    padding: 0 60px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.title-block {
  margin: 0 0 20px;
}
.title-block_one {
  font-size: 50px;
  font-weight: 500;
  color: #333;
  margin: 0;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .title-block_one {
    font-size: 45px;
  }
}
.title-block_two {
  font-size: 42px;
  line-height: 46px;
  font-weight: 500;
  color: #333;
  margin: 0;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .title-block_two {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .title-block_two {
    font-size: 28px;
    line-height: 30px;
  }
}
@media (max-width: 1023px) {
  .title-block_two {
    font-size: 28px;
    line-height: 32px;
  }
}
h1,
h2,
h3 {
  margin: 0;
}
.button {
  position: relative;
  border-radius: 2px;
}
.button:active {
  box-shadow: none;
  margin-top: 3px;
}
.button_transparent {
  padding: 17px 70px;
  background: 0 0;
  border: 2px solid #ee3d48;
  border-radius: 2px;
  transition: background-color 0.4s ease-in-out;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.button_transparent:hover {
  background-color: rgba(250, 250, 250, 0.5);
}
.button_transparent:active {
  box-shadow: none;
}
.button_transparent-name {
  color: #ee3d48;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  background: 0 0;
}
.button_background {
  padding: 19px 67px;
  background-color: #ee3d48;
  transition: background-color 0.4s ease-in-out;
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.button_background:hover {
  background-color: #a40000;
}
.button_background:active {
  box-shadow: none;
}
.button_background-name {
  color: #f2f2f2;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
}
.button_mini {
  width: 140px;
  height: 38px;
  border-radius: 2px;
  background-color: #4f4f4f;
  transition: background-color 0.4s ease-in-out;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.button_mini:hover {
  background-color: #000;
}
.button_mini:active {
  box-shadow: none;
}
.button_mini-name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  color: #f2f2f2;
}
.burger-menu {
  display: none;
}
@media (max-width: 1023px) {
  .burger-menu {
    display: block;
  }
}
@media (max-width: 767px) {
  .burger-menu {
    position: absolute;
    right: 1px;
    top: 85px;
  }
}
.background-img {
  height: 100%;
  -webkit-animation: 1s ease-in both bgFadeIn;
  animation: 1s ease-in both bgFadeIn;
  position: relative;
  text-align: center;
}
.background-img::after {
  background: url(static/images/IMG_2995.JPG) center center/cover no-repeat
    fixed;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0.3;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .background-img::after {
    background: url(static/images/IMG_2995-tablet.jpg) center center/cover
      no-repeat;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 0.3;
  }
}
@-webkit-keyframes bgFadeIn {
  0% {
    background-color: #f2f2f2;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes bgFadeIn {
  0% {
    background-color: #f2f2f2;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
.header {
  padding: 50px 0;
}
@media (max-width: 1199px) {
  .header {
    padding: 30px 0 15px;
  }
}
.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-left: 5px;
}
@media (max-width: 767px) {
  .background-img::after {
    background: url(static/images/IMG_2995-mobile.jpg) center center/cover
      no-repeat;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 0.3;
  }
  .header__wrapper {
    flex-direction: column;
  }
  .header__logo {
    margin-bottom: 15px;
  }
}
.header__navigation {
  display: flex;
  align-items: center;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .header__logo-img {
    width: 180px;
  }
  .header__navigation {
    width: 100%;
    justify-content: space-around;
    margin-left: 20px;
  }
}
@media (max-width: 1023px) {
  .header__navigation {
    display: none;
  }
}
.header__box {
  display: flex;
  align-items: center;
}
.header__box-VL {
  border-left: 3px solid #4f4f4f;
  height: 35px;
}
.header__link {
  color: #4f4f4f;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin: 0 30px 0 15px;
  transition: 0.4s ease-in-out;
}
.header__link:focus,
.header__link:hover {
  color: #000;
}
.header__link::after {
  display: block;
  content: "";
  height: 2px;
  margin-top: -5px;
  width: 0%;
  background-color: #000;
  transition: width 0.2s ease-in-out;
}
.header__link:focus:after,
.header__link:hover:after {
  width: 100%;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .header__box-VL {
    height: 25px;
  }
  .header__link {
    margin: 0 10px 0 5px;
    font-size: 14px;
  }
}
.header__contact {
  display: flex;
  align-items: center;
  height: 55px;
}
.header__contact-tel {
  color: #4f4f4f;
  font-style: normal;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-right: 20px;
  width: 210px;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .header__contact-tel {
    font-size: 22px;
    margin-right: 10px;
    width: 190px;
  }
}
@media (max-width: 767px) {
  .header__contact-tel {
    display: none;
  }
}
.poster {
  padding-bottom: 80px;
}
@media (max-width: 1199px) {
  .poster {
    padding-bottom: 40px;
  }
}
.poster__wrapper {
  position: relative;
  top: 0;
  display: flex;
}
.poster__information {
  width: 100%;
}
.poster__title-block {
  position: relative;
  max-width: 640px;
  margin-bottom: 30px;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .poster__title-block {
    max-width: 585px;
    margin-bottom: 20px;
  }
}
.poster__title-text {
  text-align: start;
  line-height: 61px;
}
@media (min-width: 321px) and (max-width: 424px) {
  .poster__title-text {
    font-size: 44px;
    line-height: 52px;
  }
}
@media (max-width: 320px) {
  .poster__title-text {
    font-size: 36px;
    line-height: 47px;
  }
}
.poster__title-price {
  position: absolute;
  top: 16px;
  right: 56px;
  display: flex;
}
@media (max-width: 767px) {
  .poster__title-block {
    margin-bottom: 20px;
    width: 100%;
  }
  .poster__title-text {
    text-align: center;
    margin-bottom: 10px;
  }
  .poster__title-price {
    position: unset;
    justify-content: center;
  }
}
.poster__title-square {
  margin-top: 4px;
}
.poster__title-cost {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  width: 90px;
  display: block;
  margin-left: 13px;
  margin-top: -3px;
  color: #333;
}
.poster__sequence {
  display: flex;
  margin: 0 0 20px;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .poster__sequence {
    margin: 0 0 10px 5px;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .poster__sequence {
    justify-content: space-around;
  }
}
@media (max-width: 320px) {
  .poster__sequence {
    display: none;
  }
}
.poster__sequence-block {
  position: relative;
  margin-right: 100px;
  text-align: start;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .poster__sequence-block {
    margin-right: 90px;
  }
}
@media (max-width: 767px) {
  .poster__sequence-block {
    margin: 0;
    text-align: center;
  }
}
.poster__sequence-number {
  position: absolute;
  left: 13px;
  top: 6px;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}
.poster__sequence-number--one {
  left: 16px;
}
.poster__sequence-text {
  font-size: 18px;
  line-height: 18px;
  color: #333;
  width: 100px;
  margin-top: 10px;
}
.poster__button {
  display: flex;
  align-items: start;
  height: 65px;
}
@media (max-width: 767px) {
  .poster__sequence-text {
    font-size: 15px;
  }
  .poster__button {
    flex-direction: column;
    height: 155px;
    align-items: center;
  }
}
.poster__button-catalog {
  height: 65px;
  margin-right: 20px;
}
.poster__img {
  position: absolute;
  bottom: -100px;
  right: -40px;
}
.box-info {
  padding: 60px 0;
}
@media (max-width: 1199px) {
  .box-info {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .poster__button-catalog {
    margin: 0 0 20px;
  }
  .box-info {
    padding: 30px 0 0;
  }
}
.box-info__wrapper {
  display: flex;
  align-items: center;
}
.box-info__inner {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .box-info__inner {
    margin: 0 auto;
    text-align: center;
  }
}
.box-info__title {
  margin-bottom: 10px;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .box-info__title {
    width: 390px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .box-info__title {
    width: 380px;
  }
}
.box-info__inner-box {
  display: flex;
  max-width: 460px;
}
@media (max-width: 1023px) {
  .box-info__wrapper {
    flex-direction: column;
  }
  .box-info__inner-box {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .box-info__inner-box {
    margin: 0 auto;
    text-align: center;
  }
  .box-info__inner-box--VL {
    display: none;
  }
}
.box-info__inner-box--VL {
  border-left: 3px solid #999;
  margin-right: 17px;
}
.box-info__inner-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.02em;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .box-info__inner-text {
    line-height: 18px;
  }
}
.box-info__inner-text--TOP {
  margin: 10px 0;
}
.box-info__inner-text--BOTTOM {
  margin-bottom: 10px;
}
.box-info__inner-idea {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: color 0.4s ease-in-out;
}
.box-info__inner-idea:hover {
  color: #999;
}
.box-info__inner-idea--IMG {
  background: url(static/images/idea_1.svg) center no-repeat;
  width: 60px;
  height: 60px;
  transition: 0.4s ease-in-out;
}
.box-info__inner-idea--IMG:hover {
  background: url(static/images/idea_2.svg) center no-repeat;
}
.box-info__inner-idea--TEXT {
  font-weight: 500;
  margin-left: 20px;
  width: 250px;
}
.box-info__img-wrapper {
  box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.45);
}
.catalog {
  overflow: hidden;
  position: relative;
  padding: 60px 0;
}
@media (max-width: 1199px) {
  .catalog {
    padding: 40px 0;
  }
}
.catalog::before {
  background: url(static/images/hammer-clip-art-26.png) right no-repeat;
  content: " ";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  opacity: 0.1;
  z-index: -1;
}
@media (max-width: 1023px) {
  .box-info__img-wrapper {
    width: 100%;
  }
  .catalog::before {
    background: 0 0;
  }
}
.catalog__top {
  display: flex;
  margin-bottom: 35px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .catalog__top {
    margin-bottom: 20px;
  }
}
.catalog__title {
  margin-right: 69px;
}
.catalog__cost-wrapper {
  display: flex;
}
@media (max-width: 767px) {
  .box-info__inner-idea {
    flex-direction: column-reverse;
  }
  .catalog__top {
    margin-bottom: 15px;
  }
  .catalog__title {
    margin: 0 auto;
  }
  .catalog__cost-wrapper {
    display: none;
  }
}
.catalog__cost-square {
  margin-top: 11px;
}
.catalog__cost-text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 17px;
  margin: 8px 0 0 8px;
  width: 160px;
}
.catalog__tabs {
  max-width: 900px;
  margin: 0 auto 16px;
}
@media (max-width: 1023px) {
  .catalog__tabs {
    margin: 0 auto 10px;
  }
}
.catalog__tabs-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.catalog__tabs-item {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #333;
  padding: 11px 29px;
  margin: 2px;
  align-self: center;
  transition: 0.4s ease-in-out;
}
.catalog__tabs-item:active,
.catalog__tabs-item:hover {
  color: #333;
  background-color: #e0e0e0;
  padding: 11px 29px;
  border-radius: 2px;
}
@media (max-width: 767px) {
  .catalog__tabs-items {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .catalog__tabs-item,
  .catalog__tabs-item:active,
  .catalog__tabs-item:hover {
    padding: 8px 20px;
  }
}
.catalog__tabs-item:focus {
  color: #f2f2f2;
  background-color: #333;
  padding: 11px 29px;
  border-radius: 2px;
}
@media (max-width: 767px) {
  .catalog__tabs-item:focus {
    padding: 8px 20px;
  }
}
.catalog__tabs-item.active {
  color: #f2f2f2;
  background-color: #333;
  padding: 11px 29px;
  border-radius: 2px;
}
.catalog__content {
  display: flex;
  position: relative;
}
.catalog__description {
  position: relative;
  width: 100%;
  margin-left: 0;
}
.catalog__description-target {
  display: none;
  -webkit-animation: 0.3s fadeEffect;
  animation: 0.3s fadeEffect;
}
.catalog__description-target.active {
  display: block;
}
.catalog__description-box {
  display: flex;
}
.catalog__description-title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 34px;
  color: #333;
  margin: 0 0 10px;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .catalog__description-title {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .catalog__tabs-item.active {
    padding: 8px 20px;
  }
  .catalog__description-title {
    font-size: 28px;
    line-height: 30px;
  }
  .catalog__description-inner {
    text-align: center;
  }
}
.catalog__description-text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 17px;
  margin: 10px 0;
}
.catalog__description-img {
  margin-right: 60px;
  box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.45);
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .catalog__description-img {
    margin-right: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .catalog__description-text {
    font-size: 16px;
  }
  .catalog__description-img {
    margin-right: 20px;
    width: 520px;
  }
}
.catalog__description-inner {
  position: relative;
}
.catalog__description-price {
  position: absolute;
  bottom: 92px;
  left: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
  z-index: 1;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .catalog__description-price {
    bottom: 80px;
  }
}
@media (max-width: 1023px) {
  .catalog__description-box {
    flex-direction: column;
  }
  .catalog__description-img {
    margin: 0 0 10px;
  }
  .catalog__description-price {
    bottom: -25px;
  }
}
@media (max-width: 320px) {
  .catalog__description-price {
    font-size: 20px;
  }
}
.catalog__description-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 741px;
  bottom: 0;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .catalog__description-info {
    left: 710px;
  }
}
.catalog__description-info--TOP {
  display: flex;
  margin-bottom: 10px;
}
@media (max-width: 1199px) {
  .catalog__description-info--TOP {
    display: none;
  }
}
.catalog__description-info--TEXT {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 17px;
  width: 110px;
  margin-left: 10px;
}
.catalog__description-cost {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
  -webkit-animation: 0.5s fadeEffect;
  animation: 0.5s fadeEffect;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .catalog__description-info {
    left: 540px;
  }
  .catalog__description-cost {
    margin-bottom: 15px;
  }
}
@media (max-width: 1023px) {
  .catalog__description-info {
    position: unset;
  }
  .catalog__description-cost {
    margin-bottom: 15px;
  }
}
.catalog__description-cost--TEXT {
  font-size: 24px;
  margin-right: 25px;
}
.catalog__description-button {
  height: 63px;
  position: relative;
}
@media (max-width: 767px) {
  .catalog__description-button {
    margin: 0 auto;
  }
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.promotion {
  padding: 60px 0;
  position: relative;
}
.promotion::before {
  background: linear-gradient(rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.8))
      center center/cover no-repeat fixed,
    url(static/images/big_bg_2.jpg) center center/cover no-repeat fixed #ccc;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.promotion__title {
  color: #f2f2f2;
  width: 530px;
  margin-bottom: 40px;
}
.promotion__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1100px;
  margin: 0 auto;
}
.promotion__block {
  position: relative;
  transition: 0.4s ease-in-out;
}
.promotion__block-litle {
  margin-right: 7px;
}
.promotion__block-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #f2f2f2;
  max-width: 225px;
  margin: 0 0 52px;
  position: relative;
  top: 5px;
  left: 18px;
}
.promotion__block-title--BOLD {
  font-weight: 700;
}
.promotion__block-card {
  position: relative;
  transition: 0.4s ease-in-out;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}
.promotion__block-card:hover {
  transform: scale(1.1);
}
.promotion__block-hover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  transition: 0.4s ease-in-out;
}
.promotion__block-hover:hover {
  opacity: 1;
}
.promotion__block-hover--TITLE {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 50px;
  color: #4f4f4f;
}
.promotion__block-hover--BUTTON {
  height: 40px;
  align-self: center;
}
.promotion__block-svg {
  position: absolute;
  left: 12px;
}
.promotion__block-img {
  box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.45);
}
.work {
  position: relative;
  padding: 60px 0;
}
.work::before {
  background: url(static/images/hammer-drill.png) right no-repeat;
  content: " ";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  opacity: 0.1;
  z-index: -1;
}
.work__top {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}
.work__top-text {
  width: 160px;
  margin-bottom: 4px;
}
.work__title {
  width: 400px;
}
.work__top-block {
  display: flex;
  position: absolute;
  margin-bottom: 65px;
  align-items: center;
}
.work__top-svg {
  position: absolute;
  z-index: -1;
}
.work__top-appeal {
  width: 160px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  margin-left: 572px;
}
.work__slider {
  height: 100%;
}
.slide--parent {
  max-width: 1180px;
  margin: auto;
  overflow: hidden;
}
.is-item--text {
  line-height: 1.2;
}
small {
  font-style: italic;
  font-weight: 700;
  margin-bottom: 0.5em;
  display: inline-block;
  color: #999;
  position: relative;
  padding-left: 3em;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.1s;
}
small:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 4px;
  background: #ee3d48;
  transform: translateY(-50%);
}
.parent--el {
  width: 100%;
  max-width: 1180px;
  margin: auto;
}
.parent--el .two--col {
  display: flex;
  align-items: center;
}
figure {
  margin: 0;
}
.is-item {
  width: 40%;
}
.is-item.has--img {
  width: 60%;
}
.is-item--title {
  color: #343434;
  margin: 0;
  font-size: 2em;
  overflow: hidden;
}
.is-item--item {
  margin-left: 16px;
  list-style-type: square;
  transform: translateY(0);
  transition-delay: 0.5s;
}
.is-item--description {
  display: block;
  font-size: 28px;
  font-weight: 700;
}
.the-img {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.the-img img {
  width: 100%;
  position: relative;
  transform: translateX(100%);
  transition: 0.6s;
}
.is-item--inner {
  padding: 0 3em;
}
.is-item--hr {
  margin: 0.5em 0;
  height: 4px;
  background: #aaa;
  border: none;
  width: 0;
  max-width: 8em;
  transition: 2.5s;
}
.is-item--inner .is-item--description,
.is-item--inner .is-item--text,
.is-item--inner ul {
  transform: translateY(15px);
  position: relative;
  opacity: 0;
  transition: 0.4s;
}
.is-item--title span {
  transform: translateY(100%);
  position: relative;
  transition: 0.5s;
  display: inline-block;
}
small:after {
  width: 0;
  max-width: 2.4em;
  transition: 1.5s;
}
.parent--el.is-selected .the-img {
  overflow: hidden;
}
.parent--el.is-selected .the-img img {
  position: relative;
  transform: translateX(0);
  transition-delay: 0.5s;
}
.parent--el.is-selected .is-item--inner .is-item--description,
.parent--el.is-selected .is-item--inner .is-item--text,
.parent--el.is-selected .is-item--inner span,
.parent--el.is-selected .is-item--inner ul {
  transform: translateY(0);
  transition-delay: 0.5s;
  position: relative;
  opacity: 1;
}
.parent--el.is-selected .is-item--inner .is-item--description:nth-of-type(2),
.parent--el.is-selected .is-item--inner .is-item--text:nth-of-type(2),
.parent--el.is-selected .is-item--inner span:nth-of-type(2),
.parent--el.is-selected .is-item--inner ul:nth-of-type(2) {
  transition-delay: 0.7s;
}
.parent--el.is-selected .is-item--inner .is-item--description:nth-of-type(3),
.parent--el.is-selected .is-item--inner .is-item--text:nth-of-type(3),
.parent--el.is-selected .is-item--inner span:nth-of-type(3),
.parent--el.is-selected .is-item--inner ul:nth-of-type(3) {
  transition-delay: 0.9s;
}
.parent--el.is-selected .is-item--title {
  overflow: hidden;
}
.parent--el.is-selected .is-item--title span {
  transform: translateY(0);
  position: relative;
  transition-delay: 0.4s;
  display: inline-block;
}
.parent--el.is-selected .is-item--hr {
  width: 100%;
  max-width: 8em;
  transition-delay: 0.5s;
}
.parent--el.is-selected small {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.4s;
}
.parent--el.is-selected small:after {
  width: 100%;
  transition-delay: 0.6s;
  max-width: 2.4em;
}
.showroom {
  padding: 0 0 60px;
  position: relative;
}
.showroom__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.showroom__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 100%;
}
.showroom__title {
  max-width: 600px;
  margin-bottom: 20px;
}
.showroom__inner-box {
  display: flex;
  max-width: 460px;
}
.showroom__inner-box--VL {
  border-left: 3px solid #999;
  min-height: 359px;
  margin-right: 17px;
}
.showroom__inner-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.showroom__inner-text--TOP {
  margin: 15px 0;
}
.showroom__inner-text--BOTTOM {
  margin-bottom: 10px;
}
.showroom__inner-play {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #828282;
  transition: color 0.4s ease-in-out;
}
.showroom__inner-play:hover {
  color: #333;
}
.showroom__inner-play--IMG {
  background: url(static/images/play_1.svg) center no-repeat;
  width: 60px;
  height: 60px;
  transition: 0.4s ease-in-out;
}
.showroom__inner-play--IMG:hover {
  background: url(static/images/play_2.svg) center no-repeat;
}
.showroom__inner-play--TEXT {
  font-weight: 500;
  margin-left: 20px;
  width: 250px;
}
.showroom__feedback {
  border: none;
  position: relative;
  padding: 25px;
  max-width: 580px;
}
.showroom__feedback::after {
  background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0,
        rgba(0, 0, 0, 0.5) 100%
      )
      center center/cover no-repeat,
    url(static/images/design.jpg) center center/cover no-repeat;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 1;
}
.showroom__feedback-wrapper {
  display: flex;
  flex-direction: column;
}
.showroom__feedback-title {
  color: #fff8dc;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 10px;
}
.showroom__feedback-text {
  color: #f2f2f2;
  font-size: 20px;
  line-height: 20px;
}
.showroom__feedback-text--PHONE {
  color: #f2f2f2;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.showroom__form {
  align-self: flex-start;
}
.showroom__form-lable {
  display: flex;
  flex-direction: column;
}
.showroom__form-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 15px;
  color: #f2f2f2;
}
.showroom__form-input {
  background-color: transparent;
  border: none;
  color: #f2f2f2;
  margin-bottom: 5px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
}
.showroom__form-input::-moz-placeholder {
  color: #f2f2f2;
}
.showroom__form-input:-ms-input-placeholder {
  color: #f2f2f2;
}
.showroom__form-input::placeholder {
  color: #f2f2f2;
}
.showroom__form-hr {
  border: none;
  background-color: #f2f2f2;
  height: 2px;
  width: 100%;
  margin: 0 0 25px;
}
.showroom__form-btn {
  height: 75px;
}
.showroom__form-button {
  padding: 20px 40px;
  border: 3px solid #f2f2f2;
  color: #f2f2f2;
}
.showroom__form-button-NAME {
  color: #f2f2f2;
}
.showroom__gallery {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 195px 124px 138px 182px 184px;
  grid-template-columns: auto;
}
.showroom__gallery-block {
  overflow: hidden;
  position: relative;
}
.showroom__gallery-block--WRAP {
  width: 100%;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.showroom__gallery-block--WRAP:hover {
  transform: scale(1.05);
}
.showroom__gallery-block--ONE {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.showroom__gallery-block--TWO {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.showroom__gallery-block--THREE {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.showroom__gallery-block--FOUR {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}
.showroom__gallery-block--FIVE {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}
.showroom__gallery-block--SIX {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}
.showroom__gallery-block--SEVEN {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
}
.showroom__gallery-block--EIGHT {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}
.showroom__gallery-block--NINE {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}
.showroom__gallery-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.showroom__gallery-hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.showroom__gallery-hover:hover {
  opacity: 1;
}
.showroom__gallery-hover--IMG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.design {
  position: relative;
  padding: 60px 0;
  margin-bottom: 60px;
}
.design::after {
  background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0,
        rgba(0, 0, 0, 0.5) 100%
      )
      center center/cover no-repeat fixed,
    url(static/images/design.jpg) center center/cover no-repeat fixed;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 1;
}
.design__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.design__form-lable {
  display: flex;
  flex-direction: column;
}
.design__form-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 15px;
  color: #f2f2f2;
}
.design__form-input {
  background-color: transparent;
  border: none;
  color: #f2f2f2;
  margin-bottom: 5px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
}
.design__form-input::-moz-placeholder {
  color: #f2f2f2;
}
.design__form-input:-ms-input-placeholder {
  color: #f2f2f2;
}
.design__form-input::placeholder {
  color: #f2f2f2;
}
.design__form-hr {
  border: none;
  background-color: #f2f2f2;
  height: 2px;
  width: 90%;
  margin: 0 0 25px;
}
.design__form-btn {
  height: 75px;
}
.design__form-button {
  border: 3px solid #f2f2f2;
}
.design__form-button--NAME {
  color: #f2f2f2;
}
.design__content {
  max-width: 730px;
}
.design__title {
  color: #fff8dc;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 10px;
}
.design__text {
  color: #f2f2f2;
  font-size: 20px;
  line-height: 20px;
  max-width: 530px;
}
.contacts {
  padding: 0 0 60px;
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
.contacts__inner {
  position: relative;
  width: 100%;
}
.contacts__inner-box {
  display: flex;
  width: 100%;
}
.contacts__inner-box--VL {
  border-left: 3px solid #999;
  margin-right: 17px;
}
.contacts__inner-text {
  width: 90%;
  margin-top: 15px;
}
.contacts__inner-text--ADDRESS {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 15px;
}
.contacts__inner-text--PHONE {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000;
}
.contacts__inner-text--TIMETABLE {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
}
.contacts__inner-icon {
  display: flex;
  align-items: center;
  margin: 15px 0 20px;
  transition: 0.4s ease-in-out;
  color: #4f4f4f;
}
.contacts__inner-icon:hover {
  color: #000;
}
.contacts__inner-icon--IMG {
  background: url(static/images/icon_1.svg) center no-repeat;
  width: 50px;
  height: 50px;
  transition: 0.4s ease-in-out;
}
.contacts__inner-icon--IMG:hover {
  background: url(static/images/icon_2.svg) center no-repeat;
}
.contacts__inner-icon--TEXT {
  font-weight: 500;
  margin-left: 20px;
  width: 250px;
}
.contacts__title {
  margin-bottom: 20px;
}
.contacts__map {
  width: 100%;
  border-radius: 1px;
  border: none;
  box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.45);
  margin-bottom: 15px;
}
.contacts__form {
  display: flex;
  flex-direction: column;
  padding: 45px 35px 25px;
  background-color: #f2f2f2;
  border-radius: 1px;
  color: #333;
  box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.45);
}
.contacts__form-top {
  display: flex;
  align-items: center;
  margin-bottom: 53px;
}
.contacts__form-title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 34px;
  width: 190px;
  margin-right: 22px;
}
.contacts__form-br {
  margin: 7px 10px 0 0;
}
.contacts__form-time {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  width: 270px;
}
.contacts__form-lable {
  display: flex;
  flex-direction: column;
}
.contacts__form-text {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 30px;
}
.contacts__form-input {
  background-color: transparent;
  border: none;
  color: #333;
  margin-bottom: 13px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
}
.contacts__form-hr {
  border: none;
  background-color: #333;
  height: 2px;
  width: 100%;
  margin: 0 0 25px;
}
.contacts__form-bottom {
  align-self: center;
  height: 75px;
  margin-top: 50px;
}
.footer {
  background-color: #333;
}
.footer__wrapper {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f2f2f2;
}
.footer__title {
  font-family: "Josefin Sans", sans-serif;
  color: #e42f3a;
}
.footer__title::after {
  display: block;
  content: "";
  height: 2px;
  margin-top: -5px;
  width: 100%;
  background-color: #e42f3a;
}
.footer__info {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
  width: 245px;
}
.footer__contacts {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
  width: 200px;
}
.footer__social {
  display: flex;
}
.footer__social-item {
  margin: 0 10px;
  transition: opacity 0.4s ease-in-out;
}
.footer__social-item:hover {
  opacity: 0.5;
}
.callback {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 111;
}
.callback__form {
  display: flex;
  flex-direction: column;
  width: 680px;
  position: relative;
  margin: auto;
  border: 2.5px solid #000;
  padding: 45px 35px 25px;
  background-color: #f2f2f2;
  border-radius: 1px;
  color: #333;
}
.callback__form-top {
  display: flex;
  align-items: center;
  margin-bottom: 53px;
}
.callback__form-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 34px;
  width: 190px;
  margin-right: 22px;
}
.callback__form-br {
  margin: 7px 10px 0 0;
}
.callback__form-time {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  width: 270px;
}
.callback__form-lable {
  display: flex;
  flex-direction: column;
}
.callback__form-text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 30px;
}
.callback__form-input {
  background-color: transparent;
  border: none;
  color: #333;
  margin-bottom: 13px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
}
.callback__form-hr {
  border: none;
  background-color: #333;
  height: 2px;
  width: 100%;
  margin: 0 0 25px;
}
.callback__form-bottom {
  align-self: center;
  height: 75px;
  margin-top: 50px;
}
.callback__form-close {
  position: absolute;
  top: -3px;
  right: -33px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: none;
  background: url(static/images/close_grey.svg);
  transition: 0.4s ease-in-out;
}
@media (max-width: 1023px) {
  .callback__form-close {
    top: -30px;
    right: 0;
  }
}
.callback__form-close:active,
.callback__form-close:hover {
  background: url(static/images/close_black.svg);
}
.callback {
  display: none;
}
.callback_open {
  display: flex;
  -webkit-animation: 0.3s animate;
  animation: 0.3s animate;
}
@-webkit-keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 579px) {
  .callback_open {
    padding: 0 20px;
  }
}
