.header {
  padding-top: 30px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__link {
  color: #333;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  margin: 0 20px;
  transition: 0.4s ease-in-out;
}
.header__link:hover {
  color: #828282;
}
.header__contact {
  display: flex;
  align-items: center;
}
.header__contact-tel {
  color: #333;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
}
.header__contact-button {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  color: #4f4f4f;
  border: 2px solid #4f4f4f;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px 33px;
  margin-left: 20px;
  transition: 0.4s ease-in-out;
}
.header__contact-button:hover {
  background-color: #e5e5e5;
}
.background-img::before {
  background: url(/static/images/background.png) 0 0/100% no-repeat;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  z-index: -1;
}
footer {
  background-color: #ffd042;
  height: 80px;
  display: flex;
  align-items: center;
}
footer span {
  padding-right: 20px;
}
footer a {
  color: #000;
  text-decoration: none;
}
footer a:not(:last-child) {
  margin-right: 20px;
}
footer a:hover {
  border-bottom: 1px solid #000;
}
.slider {
  position: relative;
  width: 100%;
}
.slider__wrapper {
  overflow: hidden;
}
.slider__inner {
  display: flex;
}
.slider__pagination-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 270px;
}
.slider__pagination-nav:disabled {
  opacity: 0.3;
  cursor: url(static/images/cursor_disabled.svg), not-allowed;
}
.slider__pagination-svg {
  opacity: 0.2;
  transition: opacity 0.4s ease-in-out;
}
.slider__pagination-svg:active,
.slider__pagination-svg:hover {
  opacity: 1;
}
.slider__one-wrapper {
  max-width: 1200px;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  position: absolute;
  top: 100px;
  left: 100px;
}
.slider__one-banner {
  z-index: 11;
  padding: 10px 0 10px 10px;
}
.slider__one-title {
  font-style: normal;
  font-size: 60px;
  color: #070707;
  margin-top: 0;
  margin-bottom: 25px;
}
.slider__one-heading {
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
  color: #070707;
  float: right;
  margin: 0;
}
.slider__one-more {
  margin-left: 100px;
  align-self: center;
}
.slider__one-more--text {
  font-style: normal;
  font-size: 30px;
  color: #070707;
  margin: 0;
}
.slider__one-bottom {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #070707;
}
.slider__one-bottom--red {
  color: #cb080c;
  text-shadow: 0 0 2px #070707;
}
.slider__one-dash {
  width: 100px;
  border: 4px solid #070707;
  float: left;
  margin: 20px 0;
}
.slider__pagination {
  display: flex;
  list-style-type: none;
  position: absolute;
  bottom: 15px;
  left: 600px;
  opacity: 0.4;
  transition: opacity 0.4s ease-in-out;
}
.slider__pagination:hover {
  opacity: 1;
}
.slider__pagination-dot {
  width: 80px;
  height: 6px;
  margin: 3.5px;
  border-radius: 5px;
  background-color: #e5e5e5;
  transition: 0.4s ease-in-out;
}
.slider__pagination-dot:hover {
  background-color: #828282;
}
.slider__pagination-dot-active {
  background-color: #070707;
}
body {
  font-family: "Gotham Pro", sans-serif;
  margin: 0;
}
img {
  line-height: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}
html {
  box-sizing: border-box;
}
button {
  cursor: pointer;
  outline: 0;
  border: none;
  padding: 0;
  background: 0 0;
}
.container {
  min-height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 110px;
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .container {
    padding: 0 110px;
  }
}
@media (min-width: 580px) and (max-width: 1023px) {
  .container {
    padding: 0 60px;
  }
}
@media (max-width: 579px) {
  .container {
    padding: 0 20px;
  }
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.title-block {
  margin: 0 0 20px;
}
.title-block_one {
  font-size: 64px;
  font-weight: 700;
  color: #333;
}
.title-block_two {
  font-size: 48px;
  line-height: 46px;
  font-weight: 700;
  color: #333;
}
.button-main {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
  color: #333;
  padding: 30px 67px;
}
