.background-img {
  animation: bgFadeIn 1s ease-in both;
  position: relative;
  text-align: center;

  &::after {
    background: url(/static/images/IMG_2995.JPG);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 0.3;
  }
}

@keyframes bgFadeIn {
  0% {
    background-color: white;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
