@import "../vars";
@import "../colors";
@import "../mixins";

.advantages {
  position: relative;
  padding: 0 0 60px;

  &::before {
    background: url(/static/images/measure.png);
    background-position: right;
    background-repeat: no-repeat;
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 100px;
    opacity: 0.1;
    z-index: -1;
  }

  &-title {
    width: 550px;
    margin-bottom: 40px;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &-block {
    position: relative;
  }

  &-img {
    margin-bottom: 60px;
    box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.45);
    border-radius: 1px;
  }

  &-svg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &-text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    width: 230px;
  }
}
