<section class="advantages">
    <h2 class="advantages-title title-block_two title">Преимущества компании</h2>
    <ul class="advantages-wrapper">
        <li class="advantages-block">
            <svg class="advantages-svg" width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 7L-1.19209e-07 13.9282L-1.19209e-07 0.0717965L9 7Z" fill="#FFC11E" />
            </svg>
            <h4 class="advantages-heading">Бесплатный замер</h4>
            <p class="advantages-text">
                Наши специалисты приедут на замер в удобное для вас время и расчитают стоимость вашего потолка
            </p>
        </li>
        <li class="advantages-block">
            <svg class="advantages-svg" width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 7L-1.19209e-07 13.9282L-1.19209e-07 0.0717965L9 7Z" fill="#FFC11E" />
            </svg>
            <h4 class="advantages-heading">Гарантия до 10 лет</h4>
            <p class="advantages-text">
                Наши специалисты приедут на замер в удобное для вас время и расчитают стоимость вашего потолка
            </p>
        </li>
        <li class="advantages-block">
            <svg class="advantages-svg" width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 7L-1.19209e-07 13.9282L-1.19209e-07 0.0717965L9 7Z" fill="#FFC11E" />
            </svg>
            <h4 class="advantages-heading">100% без запаха</h4>
            <p class="advantages-text">
                Наши специалисты приедут на замер в удобное для вас время и расчитают стоимость вашего потолка
            </p>
        </li>
        <li class="advantages-block">
            <svg class="advantages-svg" width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 7L-1.19209e-07 13.9282L-1.19209e-07 0.0717965L9 7Z" fill="#FFC11E" />
            </svg>
            <h4 class="advantages-heading">Официальный договор</h4>
            <p class="advantages-text">
                Наши специалисты приедут на замер в удобное для вас время и расчитают стоимость вашего потолка
            </p>
        </li>
    </ul>
</section>