<section class="advantages">
    <div class="container">
        <h2 class="advantages-title title-block_two">ПОЧЕМУ СТОИТ ВЫБРАТЬ "ORION"</h2>
        <ul class="advantages-wrapper">
            <li class="advantages-block">
                <img class="advantages-img" src="/static/images/advantages_1.svg" alt="изображение фактур в каталоге">
                <svg class="advantages-svg" width="60" height="74" viewBox="0 0 60 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="60" height="74" fill="#EFEFEF" />
                </svg>
                <p class="advantages-text">230 оттенков и фактур в каталоге</p>
            </li>
            <li class="advantages-block">
                <img class="advantages-img" src="/static/images/advantages_2.svg" alt="изображение Европы">
                <svg class="advantages-svg" width="60" height="74" viewBox="0 0 60 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="60" height="74" fill="#EFEFEF" />
                </svg>
                <p class="advantages-text">Материалы из Европы</p>
            </li>
            <li class="advantages-block">
                <img class="advantages-img" src="/static/images/advantages_3.svg" alt="изображение гарантии">
                <svg class="advantages-svg" width="60" height="74" viewBox="0 0 60 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="60" height="74" fill="#EFEFEF" />
                </svg>
                <p class="advantages-text">Гарантия 15 лет по договору</p>
            </li>
            <li class="advantages-block">
                <img class="advantages-img" src="/static/images/advantages_4.svg" alt="изображение часов">
                <svg class="advantages-svg" width="60" height="74" viewBox="0 0 60 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="60" height="74" fill="#EFEFEF" />
                </svg>
                <p class="advantages-text">Оперативный монтаж вовремя</p>
            </li>
        </ul>
    </div>


</section>