@import "../colors";
@import "../vars.scss";
@import "../mixins.scss";

.header {
  padding: 50px 0 30px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-left: 5px;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__link {
    color: $c_black-3;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin: 0 30px 0 15px;
    transition: $tr_duration $tr_easing;

    &:hover,
    &:focus {
      color: $c_gray-2;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    height: 55px;

    &-tel {
      color: $c_gray--dark-extra;
      font-style: normal;
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      margin-right: 20px;
    }
  }
}
