@import "../colors";
@import "../vars.scss";
@import "../mixins.scss";

.header {
  padding-top: 30px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    color: #333;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    margin: 0 20px;
    transition: 0.4s ease-in-out;

    &:hover {
      color: #828282;
    }
  }

  &__contact {
    display: flex;
    align-items: center;

    &-tel {
      color: #333;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 13px;
    }

    &-button {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 13px;
      color: #4f4f4f;
      border: 2px solid #4f4f4f;
      box-sizing: border-box;
      border-radius: 10px;
      padding: 12px 33px;
      margin-left: 20px;
      transition: 0.4s ease-in-out;

      &:hover {
        background-color: #e5e5e5;
      }
    }
  }
}
