@import "../colors";
@import "../vars.scss";
@import "../mixins.scss";

.header {
  padding: 30px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-left: 5px;
  }

  &__link {
    color: $c_black-3;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 13px;
    margin: 0 20px;
    transition: $tr_duration $tr_easing;

    &:hover,
    &:focus {
      color: $c_gray-2;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    height: 55px;

    &-tel {
      color: $c_black-3;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 13px;
    }

    &-button {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 13px;
      color: $c_white-2;
      background-color: $c_gray--dark-extra;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 12px 33px;
      margin-left: 20px;
      transition: background-color $tr_duration $tr_easing;

      &:hover {
        background-color: $c_gray-2;
      }
      &:active {
        background-color: $c_gray--dark-extra;
      }
    }
  }
}
