<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <img class="header__logo-img" src="static/images/logo.svg" alt="логотип компании Орион">
      </div>
      <nav class="header__navigation">
        <svg class="header__svg" width="3" height="35" viewBox="0 0 3 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="3" height="35" fill="#4f4f4f" />
        </svg>
        <a class="header__link" href="">ВИДЫ ПОТОЛКОВ</a>
        <svg class="header__svg" width="3" height="35" viewBox="0 0 3 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="3" height="35" fill="#4f4f4f" />
        </svg>
        <a class="header__link" href="">ОСВЕЩЕНИЕ</a>
        <svg class="header__svg" width="3" height="35" viewBox="0 0 3 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="3" height="35" fill="#4f4f4f" />
        </svg>
        <a class="header__link" href="">ШОУРУМ</a>
      </nav>
      <div class="header__contact">
        <a href="" class="header__contact-tel">+7 937 992 52 15</a>
        <button class="header__contact-button button">Связаться</button>
      </div>
    </div>
  </div>
</header>