<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="header__logo" href="/">
        <img class="header__logo-img" src="/static/images/Potolki_Orion_Logo-1.png" alt="логотип Орион">
      </a>
      <nav class="header__navigation">
        <div class="header__top">
          <a class="header__top-link" href="/">О НАС</a>
          <a class="header__top-link" href="/">ПРИМЕРЫ РАБОТ И ЦЕНЫ</a>
          <a class="header__top-link" href="/">АКЦИИ</a>
          <a class="header__top-link" href="/">КОНТАКТЫ</a>
          <button class="header__top-callback">ЗАКАЗАТЬ ЗВОНОК</button>
        </div>
        <div class="header__bottom">
          <img class="header__bottom-clock" src="/static/images/clock.svg" alt="режим работы">
          <p class="header__bottom-schedule">Ежедневно с 9 до 21</p>
          <a class="header__bottom-phone" href="tel.8-800-888-88-88">8-800-888-88-88</a>
        </div>
      </nav>
    </div>
  </div>
</header>