<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <img class="header__logo-img" src="/static/images/logo_2.svg" alt="логотип компании Орион">
      </div>
      <nav class="header__navigation">
        <svg class="header__svg" width="2" height="35" viewBox="0 0 2 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="2" height="35" fill="#4f4f4f" />
        </svg>
        <a class="header__link" href="">ВИДЫ ПОТОЛКОВ</a>
        <svg class="header__svg" width="2" height="35" viewBox="0 0 2 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="2" height="35" fill="#4f4f4f" />
        </svg>
        <a class="header__link" href="">ШОУРУМ</a>
        <svg class="header__svg" width="2" height="35" viewBox="0 0 2 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="2" height="35" fill="#4f4f4f" />
        </svg>
        <a class="header__link" href="">КОНТАКТЫ</a>
      </nav>
      <div class="header__contact">
        <p class="header__contact-tel">+7 937 992 52 15</p>
        <a class="button-mini button" href="tel:+79379925215">Связаться</a>
      </div>
    </div>
  </div>
</header>