$tr_duration: 0.4s;
$tr_easing: ease-in-out;

$media_4k: 2561px;
$media_laptop-big: 1400px;
$media_laptop: 1200px;
$media_tablet: 1024px;
$media_mobile: 768px;
$media_mobile-medium: 580px;
$media_mobile-small: 425px;
$media_mobile-extra-small: 321px;
