@import "../colors";
@import "../vars.scss";
@import "../mixins.scss";

.footer {
  background-color: $c_black-3;

  &__wrapper {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $c_white-2;
  }

  &__title {
    font-family: "Josefin Sans", sans-serif;
    color: $c_red-2;

    &::after {
      display: block;
      content: "";
      height: 2px;
      margin-top: -5px;
      width: 100%;
      background-color: $c_red-2;
    }
  }

  &__info {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
    width: 245px;
  }

  &__contacts {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
    width: 200px;
  }

  &__social {
    display: flex;

    &-item {
      margin: 0 10px;
      transition: opacity $tr_duration $tr_easing;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
