<section class="design">
    <div class="container">
        <div class="design__wrapper">
            <form class="design__form" action="">
                <label class=" design__form-lable">
                    <span class="design__form-text">Ваш телефон:</span>
                    <input class="design__form-input" type="tel" name="phone" placeholder="8 999 999 99 99" autocomplete="off" pattern="8[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}">
                </label>
                <hr class="design__form-hr">
                <div class="design__form-btn">
                    <button class="button design__form-button button_transparent" type="submit">
                        <span class="design__form-button--NAME button_transparent-name">Заказать</span>
                    </button>
                </div>
            </form>
            <div class="design__content">
                <h2 class="design__title title-block_two">ПРОФЕССИОНАЛЬНЫЙ ДИЗАЙН ИНТЕРЬЕРА ПОТОЛКА В САМАРЕ</h2>
                <p class="design__text">Мы разрабатываем дизайн интерьера и создаем эксклюзивные решения для оформления потолка.</p>
            </div>
        </div>
    </div>
</section>