@import "../vars";
@import "../colors";
@import "../mixins";

.box-info {
  padding: 60px 0;

  @include media_interval(0, $media_laptop) {
    padding: 40px 0;
  }

  @include media_interval(0, $media_mobile) {
    padding: 30px 0 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media_interval($media_mobile, $media_tablet) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include media_interval(0, $media_mobile) {
      flex-direction: column;
      padding-bottom: 40px;
    }
  }

  &__inner {
    margin-right: 10px;

    @include media_interval(0, $media_mobile) {
      margin: 0 auto;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 10px;

    @include media_interval($media_laptop, $media_laptop-big) {
      width: 390px;
    }

    @include media_interval($media_tablet, $media_laptop) {
      width: 380px;
    }

    @include media_interval(0, $media_tablet) {
      margin: 10px 0 0;
    }
  }

  &__inner-box {
    display: flex;
    max-width: 460px;

    @include media_interval(0, $media_tablet) {
      margin-bottom: 10px;
    }

    @include media_interval(0, $media_mobile) {
      margin: 0 auto;
      text-align: center;
    }

    &--VL {
      border-left: 3px solid #999999;
      margin-right: 17px;

      @include media_interval(0, $media_mobile) {
        display: none;
      }
    }
  }

  &__inner-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    letter-spacing: 0.02em;

    @include media_interval($media_laptop, $media_laptop-big) {
      line-height: 18px;
    }

    &--TOP {
      margin: 10px 0;
    }

    &--BOTTOM {
      margin-bottom: 10px;
    }
  }

  // &__inner-idea {
  //   display: flex;
  //   align-items: center;
  //   margin-bottom: 10px;
  //   transition: color $tr_duration $tr_easing;

  //   @include media_interval(0, $media_mobile) {
  //     flex-direction: column-reverse;
  //   }

  //   &:hover {
  //     color: #999999;
  //   }

  //   &--IMG {
  //     background: url(/static/images/idea_1.svg) center no-repeat;
  //     width: 60px;
  //     height: 60px;
  //     transition: $tr_duration $tr_easing;
  //     &:hover {
  //       background: url(/static/images/idea_2.svg) center no-repeat;
  //     }
  //   }

  //   &--TEXT {
  //     font-weight: 500;
  //     margin-left: 20px;
  //     width: 250px;
  //   }
  // }

  &__img-wrapper {
    box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.45);
    width: 100%;

    @include media_interval(0, $media_tablet) {
      // width: 100%;
    }
  }
}
