<section class="box-info">
    <div class="container">
        <div class="box-info__wrapper">
            <div class="box-info__inner">
                <h2 class="box-info__title title-block_two">НАТЯЖНЫЕ ПОТОЛКИ КАК ИЗ ГИПСОКАРТОНА</h2>
                <div class="box-info__inner-box">
                    <div class="box-info__inner-box--VL"></div>
                    <div class="box-info__inner-text">
                        <p class="box-info__inner-text--TOP">Основным отличием натяжных потолков, от компании "ORION" является комплекс стандартов и технологий удовлетворяющих требования современного дизайна интерьера.</p>
                        <p class="box-info__inner-text--BOTTOM">Мы можем выполнить монтаж при любой геометрии помещения, в том числе на мансардных этажах, многоуровневые конструкции и установку любого освещения и подсветки.
                        </p>
                        <a class="box-info__inner-idea">
                            <div class="box-info__inner-idea--IMG"></div>
                            <p class="box-info__inner-idea--TEXT">Варианты освещения для натяжных потолков</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box-info__img">
                <picture class="box-info__picture">
                    <!-- <source srcset="/static/images/portfolio-1.png, /static/images/portfolio-1_retina.png 2x" media="(min-width: 1024px)">
                    <source srcset="/static/images/portfolio-1_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                    <source srcset="/static/images/portfolio-1_mobile.png" media="(max-width: 767px)">  -->
                    <img class="box-info__img-wrapper" src="/static/images/box-info-1.jpg" alt="фото натяжного потолка">
                </picture>
            </div>
        </div>
    </div>
</section>