<section class="promotion">
    <div class="container">
        <div class="promotion__wrapper">
            <h2 class="title-block_two promotion__title">Каждый 3 потолок бесплатный</h2>
            <div class="promotion__content">
                <div class="promotion__block">
                    <h3 class="promotion__block-title">Покупаете первый потолок в кухню</h3>
                    <svg class="promotion__block-svg" width="100" height="70" viewBox="0 0 100 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="70" fill="#668296" />
                    </svg>
                    <img class="promotion__block-img" src="/static/images/block_one.png" alt="изображение первого потолка">
                </div>
                <div class="promotion__block">
                    <h3 class="promotion__block-title">Покупаете первый потолок в кухню</h3>
                    <svg class="promotion__block-svg" width="100" height="70" viewBox="0 0 100 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="70" fill="#668296" />
                    </svg>
                    <img class="promotion__block-img" src="/static/images/block_two.png" alt="изображение первого потолка">
                </div>
                <div class="promotion__block">
                    <h3 class="promotion__block-title">Покупаете первый потолок в кухню</h3>
                    <svg class="promotion__block-svg" width="100" height="70" viewBox="0 0 100 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="70" fill="#668296" />
                    </svg>
                    <img class="promotion__block-img" src="/static/images/block_three.png" alt="изображение первого потолка">
                </div>
            </div>
        </div>
    </div>
</section>