<section class="promotion">
    <div class="container">
        <div class="promotion__wrapper">
            <h2 class="title-block_two promotion__title">Каждый 3 потолок бесплатный</h2>
            <div class="promotion__content">
                <a class="promotion__block">
                    <svg class="promotion__block-svg" width="100" height="70" viewBox="0 0 100 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="70" fill="#828282" />
                    </svg>
                    <h3 class="promotion__block-title">Покупаете <span class="promotion__block-title--BOLD">первый</span> потолок в кухню</h3>
                    <img class="promotion__block-img" src="/static/images/block_one.png" alt="изображение первого потолка">
                    <div class="promotion__block-hover">
                        <span class="promotion__block-hover--text"></span>
                    </div>
                </a>
                <a class="promotion__block">
                    <svg class="promotion__block-svg" width="100" height="70" viewBox="0 0 100 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="70" fill="#828282" />
                    </svg>
                    <h3 class="promotion__block-title"><span class="promotion__block-title--BOLD">Второй</span> потолок в спальню</h3>
                    <img class="promotion__block-img" src="/static/images/block_two.png" alt="изображение второго потолка">
                </a>
                <a class="promotion__block">
                    <svg class="promotion__block-svg" width="100" height="70" viewBox="0 0 100 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="70" fill="#828282" />
                    </svg>
                    <h3 class="promotion__block-title">И <span class="promotion__block-title--BOLD">третий</span> в гостинную получаете в <span class="promotion__block-title--BOLD">ПОДАРОК</span></h3>
                    <img class="promotion__block-img" src="/static/images/block_three.png" alt="изображение третьего потолка">
                </a>
            </div>

        </div>
    </div>
</section>