<section class="promotion">
    <div class="container">
        <div class="promotion__wrapper">
            <h2 class="title-block_two promotion__title">КАЖДЫЙ ТРЕТИЙ ПОТОЛОК БЕСПЛАТНО</h2>
            <div class="promotion__content">
                <div class="promotion__block promotion__block-litle">
                    <svg class="promotion__block-svg" width="100" height="70" viewBox="0 0 100 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="70" fill="#828282" />
                    </svg>
                    <h3 class="promotion__block-title">Покупаете <span class="promotion__block-title--BOLD">первый</span> потолок в гостинную</h3>
                    <div class="promotion__block-card">
                        <img class="promotion__block-img" src="/static/images/block_one.png" alt="изображение первого потолка">
                        <div class="promotion__block-hover">
                            <p class="promotion__block-hover--TITLE">ЗАКАЗАТЬ ОДИН ПОТОЛОК</p>
                            <div class="promotion__block-hover--BUTTON">
                                <div class="button">
                                    <button class="button_mini">
                                        <span class="button_mini-name">Связаться</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="promotion__block promotion__block-litle">
                    <svg class="promotion__block-svg" width="100" height="70" viewBox="0 0 100 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="70" fill="#828282" />
                    </svg>
                    <h3 class="promotion__block-title"><span class="promotion__block-title--BOLD">Второй</span> потолок в спальню</h3>
                    <div class="promotion__block-card">
                        <img class="promotion__block-img" src="/static/images/block_two.png" alt="изображение второго потолка">
                        <div class="promotion__block-hover">
                            <p class="promotion__block-hover--TITLE">ЗАКАЗАТЬ ДВА ПОТОЛКА</p>
                            <div class="promotion__block-hover--BUTTON">
                                <div class="button">
                                    <button class="button_mini">
                                        <span class="button_mini-name">Связаться</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="promotion__block">
                    <svg class="promotion__block-svg" width="100" height="70" viewBox="0 0 100 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="70" fill="#828282" />
                    </svg>
                    <h3 class="promotion__block-title">И <span class="promotion__block-title--BOLD">третий</span> на кухню, получаете в <span class="promotion__block-title--BOLD">ПОДАРОК</span></h3>
                    <div class="promotion__block-card">
                        <img class="promotion__block-img" src="/static/images/block_three.png" alt="изображение третьего потолка">
                        <div class="promotion__block-hover">
                            <p class="promotion__block-hover--TITLE">ЗАКАЗАТЬ ПО АКЦИИ!</p>
                            <div class="promotion__block-hover--BUTTON">
                                <div class="button">
                                    <button class="button_mini">
                                        <span class="button_mini-name">Связаться</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>