@import "./vars";
@import "./colors";
@import "./mixins";

.promotion::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: -1px;
  border-top: 79px solid white;
  border-right: 100vw solid $c_blue-3;
}

.promotion {
  background-color: $c_blue-3;
  padding-top: 103px;
  position: relative;

  &__title {
    color: $c_white-2;
    width: 480px;
  }

  &__content {
    display: flex;
    align-items: flex-end;
    max-width: 922px;
    margin: 0 auto;
  }

  &__block {
    position: relative;
    margin-right: 20px;

    &-title {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 17px;
      color: $c_white-2;
      max-width: 225px;
      margin: 0 0 46px;
      position: relative;
      top: 5px;
      left: 3px;

      &--BOLD {
        font-weight: bold;
      }
    }

    &-svg {
      position: absolute;
      left: 0px;
      top: 0px;
    }

    &-img {
      border-radius: 10px;
      box-shadow: -8px 8px 0px 0px $c_blue-4;
    }
  }
}
