<section class="contacts">
    <div class="container">
        <div class="contacts__wrapper">
            <div class="contacts__inner">
                <h2 class="contacts__title title-block_two ">Контакты</h2>
                <div class="contacts__inner-box">
                    <div class="contacts__inner-box--VL"></div>
                    <div class="contacts__inner-text">
                        <p class="contacts__inner-text--ADDRESS">г. Самара, Ново-Садовая ул., 139</p>
                        <a class="contacts__inner-text--PHONE" href="tel:89399925215">+7 939 992 52 15</a>
                        <p class="contacts__inner-text--TIMETABLE">Звоните с 10:00 до 21:00</p>
                        <a class="contacts__inner-icon" href="https://www.instagram.com/potolkiorionsamara.ru/" target="blank">
                            <div class="contacts__inner-icon--IMG"></div>
                            <p class="contacts__inner-icon--TEXT">Подпишись на наш Instagram</p>
                        </a>
                        <iframe class="contacts__map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A436aa58df8118667d0d49041f8054e91e654c0ad70ad37997c5f850081e96932&amp;source=constructor" width="500" height="300"></iframe>
                    </div>
                </div>
            </div>
            <form class="contacts__form" action="">
                <div class="contacts__form-top">
                    <h3 class="contacts__form-title">Оставьте заявку</h3>
                    <div class="contacts__form-top--VL"></div>
                    <p class="contacts__form-time">Мы свяжемся с вами в течении 15 мин</p>
                </div>
                <label class="contacts__form-lable">
                    <span class="contacts__form-text">Ваше имя</span>
                    <input class="contacts__form-input" type="text" name="name" placeholder="Иван" autocomplete="off">
                </label>
                <hr class="contacts__form-hr">
                <label class="contacts__form-phone-input contacts__form-lable">
                    <span class="contacts__form-text">Ваш телефон</span>
                    <input class="contacts__form-input" type="tel" name="phone" placeholder="8 999 999 99 99" autocomplete="off">
                </label>
                <hr class="contacts__form-hr">
                <div class="contacts__form-bottom">
                    <div class="button">
                        <button class="button_background js-open-modal">
                            <span class="button_background-name">Заказать</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>