<section class="work">
    <div class="container">
        <div class="work__top">
            <h2 class="title-block_two work__title">ПРИМЕРЫ НАШИХ РАБОТ</h2>
            <p class="work__top-text">Листай и смотри все наши работы</p>
        </div>
        <div class="work__slider">
            <div class="slide--parent">
                <div class="parent--el">
                    <div class="two--col">
                        <div class="is-item has--img">
                            <figure class="the-img">
                                <img src="/static/images/slide_1.jpg" alt="">
                            </figure>
                        </div>
                        <div class="is-item has--content">
                            <div class="is-item--inner">
                                <h3 class="is-item--title--design"><span>Дизаин-проект</span></h3>
                                <h3 class="is-item--title"><span>Елены Поповой</span></h3>
                                <small>@designPopova</small>
                                <hr class="is-item--hr">
                                <p class="is-item--description">Описание работ:</p>
                                <ul class="is-item--list">
                                    <li class="is-item--item">Полотно Глянец</li>
                                    <li class="is-item--item">Профиль по периметру</li>
                                    <li class="is-item--item">Обход углов</li>
                                </ul>
                                <p class="is-item--price">24 100 руб.</p>
                                <p class="is-item--text">Итоговая стоимость</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="parent--el">
                    <div class="two--col">
                        <div class="is-item has--img">
                            <figure class="the-img">
                                <img src="/static/images/slide_2.jpg" alt="">
                            </figure>
                        </div>
                        <div class="is-item has--content">
                            <div class="is-item--inner">
                                <h3 class="is-item--title"><span>ПОТОЛОК В СПАЛЬНЮ</span></h3>
                                <small>г. Самара, ул Амурская 2/1</small>
                                <hr class="is-item--hr">
                                <p class="is-item--description">Описание работ:</p>
                                <ul class="is-item--list">
                                    <li class="is-item--item">Полотно База</li>
                                    <li class="is-item--item">Профиль по периметру</li>
                                    <li class="is-item--item">Обход углов</li>
                                </ul>
                                <p class="is-item--price">19 300 руб.</p>
                                <p class="is-item--text">Итоговая стоимость</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="parent--el">
                    <div class="two--col">
                        <div class="is-item has--img">
                            <figure class="the-img">
                                <img src="/static/images/slide_3.jpg" alt="">
                            </figure>
                        </div>
                        <div class="is-item has--content">
                            <div class="is-item--inner">
                                <h3 class="is-item--title"><span>ПОТОЛОК В ГОСТИННУЮ</span></h3>
                                <small>г. Самара, ул Центральная, 5</small>
                                <hr class="is-item--hr">
                                <p class="is-item--description">Описание работ:</p>
                                <ul class="is-item--list">
                                    <li class="is-item--item">Полотно База</li>
                                    <li class="is-item--item">Профиль по периметру</li>
                                    <li class="is-item--item">Обход углов</li>
                                </ul>
                                <p class="is-item--price">17 800 руб.</p>
                                <p class="is-item--text">Итоговая стоимость</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="parent--el">
                    <div class="two--col">
                        <div class="is-item has--img">
                            <figure class="the-img">
                                <img src="/static/images/slide_1.jpg" alt="">
                            </figure>
                        </div>
                        <div class="is-item has--content">
                            <div class="is-item--inner">
                                <h3 class="is-item--title"><span>ЗВЁЗДНОЕ НЕБО</span></h3>
                                <small>г. Самара, ул Ленина 123</small>
                                <hr class="is-item--hr">
                                <p class="is-item--description">Описание работ:</p>
                                <ul class="is-item--list">
                                    <li class="is-item--item">Полотно Глянец</li>
                                    <li class="is-item--item">Профиль по периметру</li>
                                    <li class="is-item--item">Обход углов</li>
                                </ul>
                                <p class="is-item--price">24 100 руб.</p>
                                <p class="is-item--text">Итоговая стоимость</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="parent--el">
                    <div class="two--col">
                        <div class="is-item has--img">
                            <figure class="the-img">
                                <img src="/static/images/slide_1.jpg" alt="">
                            </figure>
                        </div>
                        <div class="is-item has--content">
                            <div class="is-item--inner">
                                <h3 class="is-item--title"><span>ЗВЁЗДНОЕ НЕБО</span></h3>
                                <small>г. Самара, ул Ленина 123</small>
                                <hr class="is-item--hr">
                                <p class="is-item--description">Описание работ:</p>
                                <ul class="is-item--list">
                                    <li class="is-item--item">Полотно Глянец</li>
                                    <li class="is-item--item">Профиль по периметру</li>
                                    <li class="is-item--item">Обход углов</li>
                                </ul>
                                <p class="is-item--price">24 100 руб.</p>
                                <p class="is-item--text">Итоговая стоимость</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="parent--el">
                    <div class="two--col">
                        <div class="is-item has--img">
                            <figure class="the-img">
                                <img src="/static/images/slide_1.jpg" alt="">
                            </figure>
                        </div>
                        <div class="is-item has--content">
                            <div class="is-item--inner">
                                <h3 class="is-item--title"><span>ЗВЁЗДНОЕ НЕБО</span></h3>
                                <small>г. Самара, ул Ленина 123</small>
                                <hr class="is-item--hr">
                                <p class="is-item--description">Описание работ:</p>
                                <ul class="is-item--list">
                                    <li class="is-item--item">Полотно Глянец</li>
                                    <li class="is-item--item">Профиль по периметру</li>
                                    <li class="is-item--item">Обход углов</li>
                                </ul>
                                <p class="is-item--price">24 100 руб.</p>
                                <p class="is-item--text">Итоговая стоимость</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>