<section class="work">
    <div class="container">
        <h2 class="title-block_two promotion__title">Наши работы</h2>
        <div class="slider">
            <div class="slider__wrapper">
                <div class="slider__inner">
                    <div class="slider__slide">
                        <picture class="slider__slide-picture">
                            <img class="slider__slide-img" src="/static/images/slide_1.jpg" alt="фото сатинового потолка">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>