@import "../vars";
@import "../colors";
@import "../mixins";

.work::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: -99px;
  border-top: 100px solid transparent;
  border-right: 100vw solid $c_white;
}

.work:before {
  background: url(/static/images/hammer-drill.png);
  background-position: right;
  background-repeat: no-repeat;
  content: " ";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  opacity: 0.1;
  z-index: -1;
}

.work {
  position: relative;
  padding: 40px 0 60px;

  &__top {
    display: flex;
    align-items: flex-end;
    margin-bottom: 70px;

    &-text {
      width: 160px;
    }
  }

  &__title {
    width: 400px;
  }

  &__top-block {
    display: flex;
    position: absolute;
    margin-bottom: 65px;
    align-items: center;
  }

  &__top-svg {
    position: absolute;
    z-index: -1;
  }

  &__top-appeal {
    width: 160px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    margin-left: 572px;
  }

  &__slider {
    height: 100%;
  }
}

// slider
.slide--parent {
  max-width: 1180px;
  margin: auto;
  overflow: hidden;
}
.is-item--text {
  line-height: 1.2;
}

small {
  font-style: italic;
  font-weight: 700;
  margin-bottom: 0.5em;
  display: inline-block;
  color: #999;
  position: relative;
  padding-left: 3em;

  &:after {
    content: "";
    position: absolute;
    left: -0em;
    top: 50%;
    height: 4px;
    width: 2.4em;
    background: $c_red;
    transform: translateY(-50%);
  }
}

.parent--el {
  width: 100%;
  max-width: 1180px;
  margin: auto;

  .two--col {
    display: flex;
    align-items: center;
  }
}

figure {
  margin: 0;
}
.is-item {
  width: 40%;
  &.has--img {
    width: 60%;
  }
  &--title {
    color: #343434;
    margin: 0;
    font-size: 2em;
  }
  &--item {
    margin-left: 16px;
    list-style-type: square;
    transform: translateY(0px);
    transition-delay: 500ms;
  }
  &--description {
    display: block;
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: bold;
  }
}
.the-img {
  width: 100%;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.is-item--inner {
  padding: 0em 3em;
}

hr {
  margin: 0.5em 0em;
  height: 4px;
  background: $c_gray;
  border: none;
}

// transitions
.the-img {
  overflow: hidden;
  img {
    position: relative;
    transform: translateX(100%);
    transition: all 600ms ease;
  }
}

.is-item--inner {
  .is-item--text,
  .is-item--description,
  ul {
    transform: translateY(15px);
    position: relative;
    opacity: 0;
    transition: all 400ms ease;
  }
}

.is-item--title {
  overflow: hidden;
  span {
    transform: translateY(100%);
    position: relative;
    transition: all 500ms ease;
    display: inline-block;
  }
}

hr {
  width: 0;
  max-width: 8em;
  transition: all 2500ms ease;
}

small {
  transform: translateY(10px);
  opacity: 0;
  transition: all 100ms ease;
  &:after {
    width: 0;
    max-width: 2.4em;
    transition: all 1500ms ease;
  }
}

.parent--el {
  &.is-selected {
    .the-img {
      overflow: hidden;
      img {
        position: relative;
        transform: translateX(0%);
        transition-delay: 500ms;
      }
    }

    .is-item--inner {
      .is-item--text,
      .is-item--description,
      span,
      ul {
        transform: translateY(0px);
        transition-delay: 500ms;
        position: relative;
        opacity: 1;

        &:nth-of-type(2) {
          transition-delay: 700ms;
        }
        &:nth-of-type(3) {
          transition-delay: 900ms;
        }
      }
    }

    .is-item--title {
      overflow: hidden;
      span {
        transform: translateY(0%);
        position: relative;
        transition-delay: 400ms;
        display: inline-block;
      }
    }

    hr {
      width: 100%;
      max-width: 8em;
      transition-delay: 500ms;
    }

    small {
      transform: translateY(0px);
      opacity: 1;
      transition-delay: 400ms;

      &:after {
        width: 100%;
        transition-delay: 600ms;
        max-width: 2.4em;
      }
    }
  }
}
